Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2024-12, with the labels that each got.

#1434 Уменьшил стоимость мода
  modular_bluemoon/MRSKO/code/uplink/uplink_items.dm
Labels: Test Merged

#1456 Микрофичи для dumb4cum
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/taste.dm
  modular_bluemoon/code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_splurt/code/datums/traits/negative_quirks/dumb_for_cum.dm
  modular_splurt/code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: Feature, Quality of Life

#1445 Мультитул с подвязанным сило в ящик рд
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  modular_bluemoon/code/game/objects/items/devices/multitool.dm
  tgstation.dme
Labels: Test Merged, Quality of Life

#1452 стикерные карты
  code/game/objects/items/cards_ids.dm
  modular_bluemoon/Fink/code/clothing/deviant.dm
  modular_bluemoon/kovac_shitcode/code/modules/clothing/misc.dm
  modular_splurt/code/game/objects/items/cards_ids.dm
Labels: Feature

#1451 Fix плюшка Ласки
  modular_bluemoon/MRSKO/code/misc.dm
  modular_bluemoon/MRSKO/icons/obj/misc.dmi
Labels: Test Merged

#1509 [TGUI] Jukebox update
  .github/labeler.yml
  code/game/machinery/dance_machine.dm
  code/game/machinery/dance_machine_handled.dm
  modular_bluemoon/Fink/code/items/moniq.dm
  modular_bluemoon/jukebox/item_pagination.dm
  modular_bluemoon/jukebox/jukebox_function.dm
  modular_bluemoon/jukebox/machine_pagination.dm
  modular_bluemoon/jukebox/random_song.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Jukebox.js
Labels: Test Merged, Semi-Modular, DME Edit, Javascript, TGUI, Github, Code

#1515 Fix
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1518 Box Station: офис парамедика и исправления бокса
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1522 Порт надувных стен из новы
  modular_bluemoon/olgachan/inflatables/code/inflatable.dm
  modular_bluemoon/olgachan/inflatables/icons/inflatable.dmi
  modular_bluemoon/olgachan/inflatables/readme.md
  modular_bluemoon/olgachan/inflatables/sound/ducttape1.ogg
Labels: Test Merge Candidate, Sprites, Sound, Code

#1521 snout_and_tail
  code/modules/mob/dead/new_player/sprite_accessories/snouts.dm
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_citadel/icons/mob/mam_snouts.dmi
  modular_citadel/icons/mob/mam_tails.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1523 Заменяет плашки присоединения за рольку или за гострольку
  code/controllers/subsystem/job.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/awaymissions/corpse.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/cargo/shaft_miner.dm
  code/modules/jobs/job_types/command/blueshield.dm
  code/modules/jobs/job_types/command/bridgeofficer.dm
  code/modules/jobs/job_types/juridical/magistrate.dm
  code/modules/jobs/job_types/research/expeditor.dm
  code/modules/jobs/job_types/service/bouncer.dm
  code/modules/jobs/job_types/service/stowaway.dm
  code/modules/ruins/lavaland_ruin_code.dm
  modular_bluemoon/service_staff/service_staff.dm
  modular_splurt/code/modules/jobs/job_types/captain.dm
  modular_splurt/code/modules/jobs/job_types/chief_engineer.dm
  modular_splurt/code/modules/jobs/job_types/chief_medical_officer.dm
  modular_splurt/code/modules/jobs/job_types/head_of_personnel.dm
  modular_splurt/code/modules/jobs/job_types/head_of_security.dm
  modular_splurt/code/modules/jobs/job_types/peacekeeper.dm
  modular_splurt/code/modules/jobs/job_types/prisoner.dm
  modular_splurt/code/modules/jobs/job_types/quartermaster.dm
  modular_splurt/code/modules/jobs/job_types/research_director.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: TGUI, Code

#1455 Панелька WHO
  modular_bluemoon/code/controllers/subsystem/who.dm
  modular_citadel/code/modules/client/verbs/who.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/StaffWho.js
  tgui/packages/tgui/interfaces/Who.js
Labels: Test Merge Candidate, Feature, UI

#1329 For bot
  code/controllers/subsystem/fail2topic.dm
  code/datums/world_topic.dm
  code/game/world.dm
  code/modules/admin/DB_ban/functions.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/holder2.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/verbs/ooc.dm
  modular_bluemoon/code/controllers/topic.dm
  modular_bluemoon/code/datums/world_topic.dm
  modular_splurt/code/controllers/subsystem/discord.dm
  modular_splurt/code/datums/world_topic.dm
  modular_splurt/code/modules/admin/JobBan.dm
  modular_splurt/code/modules/admin/NewBan.dm
  strings/1000_most_common_en.txt
  tgstation.dme
Labels: Test Merged

#1524 Neckfire для дуллаханов
  code/modules/client/preferences.dm
Labels: Code

#1526 Фикс ночного зрения + цветка на головке
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#1529 Перепутанный istype в очках
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#1534 Фикс халатика РД
  modular_bluemoon/phenyamomota/icon/mob/clothing/suits.dmi
Labels: Sprites

#1525 Фикс одежды у дуллухан
  code/datums/components/dullahan.dm
Labels: Test Merged, Code

#1530 QoL изменения: офис парамедиков, техи, DS-2
  _maps/map_files/BoxStation/BoxStation.dmm
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Map Edit, Code

#1532 Банкаккаунты для гостролей
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/awaymissions/corpse.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Code

#1533 Крафт автолата и проводов
  code/__DEFINES/machines.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/autolathe_desings/autolathe_designs_tools.dm
  code/modules/research/techweb/_techweb.dm
  modular_bluemoon/fedor1545/code/items/autolathe.dm
  modular_bluemoon/fedor1545/icons/clothing/obj/makeshift_autolathe.dmi
  modular_sand/code/datums/components/crafting/recipes/recipes_misc.dm
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1535 Фикс бага с бейсбольной битой
  modular_splurt/code/game/objects/items/weaponry/melee.dm
Labels: Code

#1536 donator_stuff_again
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/underwear.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/underwear.dmi
  modular_bluemoon/krashly/code/modules/clothing/accessories.dm
  modular_bluemoon/krashly/icons/obj/clothing/patch.dmi
Labels: Sprites, Code

#1537 New textures grenades
  icons/obj/grenade.dmi
Labels: Sprites

#1539 Исправил плейсхолдер текст в менеджменте ООС-заметок
  code/datums/elements/flavor_text.dm
Labels: Code

#1542 Добавляем тряпочку для чистки микроволновки в капсулу шахтёров
  _maps/templates/shelter_6.dmm
Labels: Map Edit

#1531 Дополнение для призываемого
  code/__BLUEMOONCODE/_DEFINES/traits.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  modular_bluemoon/Fink/code/datums/traits/neutral.dm
  modular_bluemoon/Fink/code/items/summon_chalk.dm
Labels: Test Merged, Code

#1520 Гениальный фикс оверлея вони
  modular_bluemoon/shower_trait/shower_trait.dm
Labels: Test Merged, Sprites, Sound, DME Edit, Code

#1541 Обновление нужды в душе
  modular_bluemoon/shower_trait/shower_trait.dm
Labels: Test Merged, Code

#1543 Кольца нормалайзеры теперь можно запихнуть на перчатки и это работает
  code/modules/mob/living/carbon/human/examine.dm
  modular_splurt/code/modules/clothing/sizeaccessories.dm
Labels: Test Merged, Code

#1544 Полировка: бокс и шкафчики
  _maps/map_files/BoxStation/BoxStation.dmm
  icons/obj/closet.dmi
Labels: Sprites, Map Edit

#1450 Чиним надписи на теле (6 часов)
  code/modules/surgery/bodyparts/parts.dm
  modular_splurt/code/modules/paperwork/pen.dm
Labels: Test Merged

#1548 Менюшка Say и разделение verb'ов по разделам
  code/datums/elements/flavor_text.dm
  code/modules/admin/verbs/pray.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/ooc.dm
  code/modules/emote_panel/emote_panel.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/say.dm
  code/modules/mob/say_vr.dm
  modular_bluemoon/code/modules/mob/living.dm
  modular_bluemoon/modules/anti_ghost_indicatored/anti_ghost_indicatored.dm
  modular_citadel/code/modules/client/preferences_toggles.dm
  modular_sand/code/modules/client/preferences_toggles.dm
  modular_sand/code/modules/mob/living/living_movement.dm
  modular_splurt/code/modules/mob/say_vr.dm
Labels: Administration, Code

#1546 Фикс фразы "Какое время?"
  modular_bluemoon/code/modules/mob/bluemoon_emotes.dm
Labels: Code

#1549 Фикс появления странствующего торговца
  code/modules/events/travelling_trader.dm
Labels: Code
