Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-05, with the labels that each got.

#1844 Фикс декалей на турфе
  code/game/objects/effects/decals/decal.dm
Labels: Code

#1835 Гигантские кровати
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_bluemoon/code/game/objects/structures/beds_chairs/bed.dm
  modular_bluemoon/icons/obj/giant_bed.dmi
  tgstation.dme
Labels: Test Merged, Sprites, DME Edit, Code

#1840 Millie Plush
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/icons/obj/toys/plushes.dmi
  modular_bluemoon/sound/plush/millie.ogg
Labels: Test Merged, Sprites, Sound, Code

#1841 Шар предсказаний теперь сенсор в РнД!
  code/game/objects/items/eightball.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  icons/obj/toys/toy.dmi
Labels: Test Merged, Sprites, Code

#1843 NewTry?
  modular_bluemoon/fluffs/code/donator.dm
Labels: Test Merged, Code

#1846 Очки за изучение странных обьектов (реликвий)
  code/modules/research/experimentor.dm
Labels: Code

#1847 Повышение очков за странные объекты
  code/modules/research/experimentor.dm
Labels: Test Merged, Code

#1848 [BLUEMOON] Stationary telephones
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  modular_bluemoon/code/modules/phone/phone.dm
  modular_bluemoon/icons/mob/inhands/items/items_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/items_righthand.dmi
  modular_bluemoon/icons/obj/structures/phone.dmi
  modular_bluemoon/icons/obj/structures/structures.dmi
  modular_bluemoon/sound/machines/telephone/callstation_unavailable.ogg
  modular_bluemoon/sound/machines/telephone/dial.ogg
  modular_bluemoon/sound/machines/telephone/phone_busy.ogg
  modular_bluemoon/sound/machines/telephone/remote_hangup.ogg
  modular_bluemoon/sound/machines/telephone/remote_pickup.ogg
  modular_bluemoon/sound/machines/telephone/ring_outgoing.ogg
  modular_bluemoon/sound/machines/telephone/rtb_handset_1.ogg
  modular_bluemoon/sound/machines/telephone/rtb_handset_2.ogg
  modular_bluemoon/sound/machines/telephone/rtb_handset_3.ogg
  modular_bluemoon/sound/machines/telephone/rtb_handset_4.ogg
  modular_bluemoon/sound/machines/telephone/rtb_handset_5.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone1.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone2.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone3.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone4.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone5.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone6.ogg
  modular_bluemoon/sound/machines/telephone/talk_phone7.ogg
  modular_bluemoon/sound/machines/telephone/telephone_ring.ogg
  modular_splurt/_maps/RandomRuins/SpaceRuins/spacehotelbluemoon.dmm
  tgstation.dme
  tgui/packages/tgui/interfaces/PhoneMenu.tsx
Labels: Test Merged, Sprites, Sound, Map Edit, DME Edit, TGUI, Code

#1850 [BLUEMOON] Настольные звоночки для Бокса
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1852 New textures + Переделана 1 игрушка
  icons/obj/storage.dmi
  icons/obj/vending.dmi
  modular_bluemoon/Ren/Icons/Obj/infiltrator.dmi
  modular_bluemoon/Ren/Icons/Obj/misc.dmi
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
  modular_bluemoon/icons/obj/vending.dmi
  modular_bluemoon/krashly/icons/obj/structures.dmi
  modular_splurt/icons/obj/objects.dmi
Labels: Sprites, Code

#1829 enigma_request
  modular_bluemoon/fluffs/icons/mob/clothing/gloves.dmi
  modular_bluemoon/oni3288/code/catcrin_healthscan_suit.dm
Labels: Test Merged, Sprites, Code

#1851 Ремап пляжа
  _maps/RandomZLevels/away_mission/TheBeach.dmm
  code/game/area/areas/away_content.dm
Labels: Map Edit, Code

#1853 MedHud HP полоска не видна при 100% здоровья
  code/_rendering/atom_huds/data_huds.dm
Labels: Code

#1854 Qol СБ и фиксы
  code/datums/action.dm
  code/modules/clothing/masks/hailer.dm
  icons/mob/clothing/custom_w.dmi
  icons/mob/clothing/feet_digi.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/mask_muzzled.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/custom.dmi
  modular_bluemoon/fluffs/code/donator.dm
  modular_citadel/code/modules/client/loadout/__donator.dm
  modular_citadel/code/modules/client/loadout/donator/backpack.dm
  modular_citadel/code/modules/clothing/trek.dm
  modular_citadel/code/modules/custom_loadout/custom_items.dm
  modular_splurt/code/game/objects/items/miscellaneous.dm
Labels: Sprites, Code

#1856 Латексный костюм в кинкоматах
  modular_bluemoon/code/modules/client/loadout/uniform.dm
  modular_bluemoon/code/modules/vending/kinkmate.dm
Labels: Code

#1857 Enigma донатерские шмотки
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/hardsuit.dm
  modular_bluemoon/fluffs/code/mask.dm
  modular_bluemoon/fluffs/code/neck.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/head.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/mask.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/neck.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/tails_digi.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/under.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/clothing_left.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/clothing_right.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/gloves.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/head.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/mask.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/neck.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/under.dmi
Labels: Sprites, Code

#1859 Общие доступы изнутри сервисхолла Бокса
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
Labels: Map Edit

#1861 [BLUEMOON] Микрофиксы
  code/_onclick/hud/screen_objects.dm
  modular_bluemoon/code/modules/mob/say_vr.dm
Labels: Code

#1862 inteq_gigachad_resprite
  modular_bluemoon/kovac_shitcode/icons/gigachad_inteq.dmi
Labels: Sprites

#1864 Portallight in loadout and replacetext update
  modular_bluemoon/code/modules/client/loadout/backpack.dm
  modular_sand/code/game/objects/items/fleshlight.dm
  modular_splurt/code/modules/client/loadout/donator/first_tier.dm
Labels: Code

#1866 Mod sprites fixes
  code/modules/mod/mod_clothes.dm
  code/modules/mod/mod_control.dm
  modular_bluemoon/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_bluemoon/icons/mob/clothing/modsuit/mod_clothing.dmi.dmi
  modular_bluemoon/icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites, Code

#1867 Мета, фикс перемешивания пола с воздухом и без
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1860 [BLUEMOON] Vote power difference
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/vote.dm
  modular_bluemoon/code/controllers/subsystem/vote.dm
  modular_bluemoon/code/modules/mob/mob.dm
  tgstation.dme
Labels: DME Edit, Code

#1871 Ещё больше улучшений призываемого
  modular_bluemoon/code/game/objects/items/summon_chalk.dm
Labels: Code

#1872 Araminta and Lissara plushe
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
  modular_bluemoon/sound/voice/short_purr.ogg
Labels: Sprites, Sound, Code

#1882 ФИКС КРИТИЧЕСКОГО БАГА ВЫЗЫВАЮЩЕГО ВЫЛЕТ СЕРВЕРА
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
Labels: Map Edit, Code

#1880 [BLUEMOON] Фикс выдачи языков для гост ролей
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/awaymissions/corpse.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Code

#1879 [BLUEMOON] Gift ribbon fix
  modular_bluemoon/code/modules/clothing/under/miscellaneous.dm
Labels: Code

#1877 Да ещё больше фиксов призываемых
  modular_bluemoon/code/game/objects/items/summon_chalk.dm
Labels: Code

#1876 [BLUEMOON] Ringing pet collar
  code/modules/clothing/neck/_neck.dm
  modular_bluemoon/code/modules/clothing/neck/_neck.dm
  modular_bluemoon/sound/items/collarbell1.ogg
  modular_bluemoon/sound/items/collarbell2.ogg
  modular_bluemoon/sound/items/collarbell3.ogg
  modular_bluemoon/sound/items/collarbell4.ogg
Labels: Sound, Code

#1875 Araminta plush squeak volume reduction
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/sound/voice/short_purr.ogg
  modular_bluemoon/sound/voice/short_purr_silent.ogg
Labels: Sound, Code

#1884 Ухуханья совы как эмоут и добавление 1 шмотки в лодаут
  modular_bluemoon/SmiLeY/code/serverside/emote_panel.dm
  modular_bluemoon/code/modules/client/loadout/uniform.dm
  modular_bluemoon/code/modules/mob/emotes.dm
  modular_bluemoon/code/modules/vending/autodrobe.dm
  modular_bluemoon/sound/emotes/owl.ogg
Labels: Sound, Code

#1885 Донатерская шмотка для deadlizard
  modular_bluemoon/code/game/objects/items/lewd_items/book_of_stealing.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/icons/obj/ring.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1883 Глобальный Ап тешарям
  code/modules/mob/living/carbon/human/human_update_icons.dm
  icons/mob/clothing/taur_naga.dmi
  modular_citadel/code/modules/client/loadout/__donator.dm
  modular_splurt/code/modules/client/loadout/neck.dm
  modular_splurt/code/modules/client/loadout/suit.dm
  modular_splurt/code/modules/clothing/suits/cloaks.dm
  modular_splurt/icons/mob/clothing/species/teshari/accessories.dmi
  modular_splurt/icons/mob/clothing/species/teshari/back.dmi
  modular_splurt/icons/mob/clothing/species/teshari/belt.dmi
  modular_splurt/icons/mob/clothing/species/teshari/eyes.dmi
  modular_splurt/icons/mob/clothing/species/teshari/feet.dmi
  modular_splurt/icons/mob/clothing/species/teshari/hands.dmi
  modular_splurt/icons/mob/clothing/species/teshari/head.dmi
  modular_splurt/icons/mob/clothing/species/teshari/mask.dmi
  modular_splurt/icons/mob/clothing/species/teshari/neck.dmi
  modular_splurt/icons/mob/clothing/species/teshari/suit.dmi
  modular_splurt/icons/mob/clothing/species/teshari/tesh_items.dmi
  modular_splurt/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Sprites, Code

#1896 Это просто прикол.
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/guns.dm
Labels: Code

#1897 [BLUEMOON] Фикс разбирания пола в космос
  modular_sand/code/game/turfs/simulated/floor/plating.dm
Labels: Code

#1898 [BLUEMOON] Lewd tweaks
  code/game/machinery/limbgrower.dm
  modular_bluemoon/Gardelin0/code/interactions/stuffed_movement.dm
  modular_bluemoon/Gardelin0/code/items/lewd_items/magic_wand.dm
  modular_sand/code/game/objects/items/fleshlight.dm
  modular_splurt/code/game/objects/items/lewd_items/chastity_hypno/chastity_hypno_magazine.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/metal_chastity_cage.dm
Labels: Code

#1900 [BLUEMOON] Фикс названий профессий
  modular_sand/code/modules/jobs/job_types/_job_alt_titles.dm
  modular_splurt/code/modules/jobs/job_types/_job_alt_titles.dm
Labels: Code

#1904 [BLUEMOON] Astrogen fix
  modular_citadel/code/modules/reagents/chemistry/reagents/astrogen.dm
Labels: Code

#1905 mouse ears
  modular_bluemoon/code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_bluemoon/icons/mob/ears.dmi
Labels: Sprites, Code

#1907 [BLUEMOON] Drone languages tweaks
  code/modules/language/language_holder.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  modular_bluemoon/code/_onclick/hud/drones.dm
  tgstation.dme
Labels: DME Edit, Code
