Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-10, with the labels that each got.

#2285 Полировка: id карты, HUD.
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/access.dm
  icons/mob/hud.dmi
  icons/obj/card.dmi
  icons/ui_icons/tgui/jobs.dmi
  modular_bluemoon/code/game/objects/items/cards_ids.dm
  modular_bluemoon/code/modules/client/loadout/__donator.dm
  modular_bluemoon/code/modules/research/techweb/nodes/misc_nodes.dm
  modular_bluemoon/code/modules/vending/wardrobes.dm
  modular_bluemoon/kovac_shitcode/code/modules/clothing/misc.dm
  modular_citadel/code/modules/client/loadout/__donator.dm
  modular_sand/code/game/objects/items/cards_ids.dm
  modular_splurt/code/game/objects/items/cards_ids.dm
  modular_splurt/code/modules/research/designs/power_designs.dm
Labels: Sprites, Code

#2286 Небольшой фикс для донатной вещи
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/under_digi.dmi
Labels: Sprites, Code

#2289 Fix gas
  icons/effects/atmospherics.dmi
Labels: Sprites

#2290 Toy shark
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
  modular_bluemoon/sound/plush/catshark1.ogg
  modular_bluemoon/sound/plush/catshark2.ogg
Labels: Sprites, Sound, Code

#2292 donator_things
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/code/modules/clothing/masks/gasmask.dm
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/head.dm
  modular_bluemoon/fluffs/code/melee.dm
  modular_bluemoon/fluffs/icons/mob/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/head.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/melee_lefthand.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/melee_righthand.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/head.dmi
  modular_bluemoon/fluffs/icons/obj/melee.dmi
Labels: Sprites, Code

#2297 skelet milk change
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Code
