Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-08, with the labels that each got.

#2086 Пачка всяких действий с картами
  _maps/_basemap.dm
  _maps/archive/IceTaxi/Smexistation/IcemoonUnderground_Above_Splurt.dmm
  _maps/archive/IceTaxi/Smexistation/IcemoonUnderground_Below_Splurt.dmm
  _maps/archive/IceTaxi/Smexistation/Snaxi_Splurt.dmm
  _maps/archive/IceTaxi/Smexistation/Snaxi_Splurt_v2.dmm
  _maps/archive/IceTaxi/Smexistation/bluemoonsmexistation.json
  _maps/archive/IceTaxi/Smexistation/smexistation.json
  _maps/archive/PrisonStation/PrisonStation.dmm
  _maps/archive/PrisonStation/PrisonUnderground.dmm
  _maps/archive/PrisonStation/job_changes.dm
  _maps/archive/PrisonStation/prisonstation.json
  _maps/icemoonstation.json
  _maps/lambdastation.json
  _maps/map_files/LambdaStation/dorms.dmm
  _maps/map_files/LambdaStation/lambda.dmm
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
  config/maps.txt
  tgstation.dme
Labels: Map Edit, DME Edit, Code, Requires Config Change

#2089 [BM|Loadout-Personal] Adding ckeys.
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#2090 donate ckey fix
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#2092 Быстрый фикс бага с починкой турелей
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code

#2080 Neosynth add
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/hypovial.dm
Labels: Code

#2095 Преф на выбор смеха у персонажа
  code/modules/client/preferences.dm
  code/modules/mob/living/emote.dm
  modular_bluemoon/code/_DEFINES/mobs.dm
  modular_bluemoon/code/modules/client/preferences.dm
  modular_bluemoon/code/modules/client/preferences_savefile.dm
  modular_bluemoon/code/modules/mob/living/carbon/human/human_defines.dm
  modular_bluemoon/code/modules/mob/living/emote.dm
  modular_splurt/code/modules/mob/living/emotes.dm
  modular_splurt/code/modules/mob/living/silicon/emotes.dm
Labels: Code

#2082 balls shooting
  code/modules/projectiles/gun.dm
Labels: Code

#2087 trash bag fix
  code/game/objects/items/storage/bags.dm
Labels: Code

#2097 [BLUEMOON] d6 dice resprite
  icons/obj/dice.dmi
Labels: Sprites

#2101 Lust soft moan + fixes
  code/__SANDCODE/DEFINES/lewd.dm
  code/modules/arousal/arousal.dm
  modular_bluemoon/code/modules/arousal/arousal_robot.dm
  modular_bluemoon/code/modules/mob/emotes.dm
  modular_bluemoon/code/modules/mob/living/carbon/human/damage_procs.dm
  modular_sand/code/datums/components/interaction_menu_granter.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/self/breasts.dm
  modular_sand/code/datums/interactions/lewd_definitions.dm
  modular_splurt/code/datums/interactions/lewd/lewd_definitions.dm
  modular_splurt/code/game/objects/items/sucking_machine.dm
  modular_splurt/code/modules/arousal/arousal.dm
  tgui/packages/tgui/interfaces/CharacterProfile.tsx
Labels: TGUI, Code

#2098 [BLUEMOON] Heat reagent containers
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/spray.dm
  modular_bluemoon/code/modules/reagents/reagent_containers.dm
Labels: Code

#2107 улучшение донатного предмета 1DarkWater1
  icons/effects/96x96.dmi
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/effects/32x32.dmi
Labels: Sprites, Code

#2108 Фиксы лодаутов и карт гост ролей мезы
  _maps/RandomZLevels/away_mission/ihategordon.dmm
  modular_bluemoon/code/modules/awaymissions/blackmesa/mesa_ghost_spawners.dm
  modular_bluemoon/code/modules/awaymissions/blackmesa/weapons/mesa_guns.dm
Labels: Map Edit, Code

#2110 [BLUEMOON] RnD chem grenades
  code/modules/research/designs/weapon_designs.dm
Labels: Code

#2113 Пак фиксов на айсмун
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
Labels: Map Edit

#2115 Closet
  icons/obj/closet.dmi
  modular_splurt/code/modules/jobs/job_types/peacekeeper.dm
  modular_splurt/code/modules/vending/security.dm
  modular_splurt/icons/obj/closet.dmi
Labels: Sprites, Code

#2116 Пласталевые окна соединяются с пласталевыми стенами
  code/game/objects/structures/window.dm
Labels: Code

#2118 FIX: iserter full fix 2
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Code

#2119 Funclaw updt
  modular_bluemoon/code/modules/mob/living/simple_animal/tentacles/tentacles.dm
  modular_sand/code/datums/interactions/lewd_definitions.dm
  modular_splurt/code/modules/mob/femclaw.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/deathclaw/funclaw.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/werewolves/funwolf.dm
Labels: Code

#2114 Изменение планировки поста прослушки Синдиката.
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Map Edit

#2120 [BLUEMOON] Pedal Generator mapping
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/LambdaStation/lambda.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
  _maps/map_files/layenia/layeniastation.dmm
  modular_bluemoon/code/modules/pedalgen/PedalGen.dm
Labels: Map Edit, Code

#2121 Микропатч
  modular_bluemoon/Gardelin0/code/obj/custom_portal.dm
  modular_bluemoon/code/game/objects/items/storage/briefcase.dm
  modular_bluemoon/code/modules/client/loadout/backpack.dm
  modular_splurt/_maps/RandomRuins/SpaceRuins/spacehotelbluemoon.dmm
  tgstation.dme
Labels: DME Edit, Code

#2123 [BLUEMOON] Craftable light switch
  code/game/machinery/lightswitch.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Code

#2125 Предметы в кустиках
  code/datums/components/storage/concrete/pockets.dm
  code/game/objects/structures/flora.dm
Labels: Code

#2124 Ещё один пак фиксов на айс мун
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
Labels: Map Edit

#2128 [BLUEMOON] Pod doors update
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
Labels: Code

#2131 Больше гемблинга
  code/game/objects/structures/flora.dm
Labels: Code

#2127 [BLUEMOON] Precise wallframes placement
  code/game/objects/items/apc_frame.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/simulated/walls.dm
Labels: Code

#2132 melon add + reagents in soda dispenser
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/cargo/packs/organic.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  icons/obj/food/food.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  modular_bluemoon/SmiLeY/code/game/objects/items/drugs.dm
  modular_bluemoon/code/modules/vending/megaseed.dm
  modular_sand/code/modules/reagents/reagent_containers/borghydro.dm
  modular_splurt/code/modules/food_and_drinks/food/snacks_vend.dm
  modular_splurt/code/modules/food_and_drinks/recipes/drink_recipes.dm
  modular_splurt/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  modular_splurt/icons/obj/drinks.dmi
Labels: Sprites, Code

#2134 Микро фиксы рбмк синдикеков
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
  code/modules/power/reactor/rbmk.dm
  modular_bluemoon/code/modules/power/reactor/rbmk.dm
  tgstation.dme
Labels: Map Edit, DME Edit, Code

#2148 Cum overlay fix
  code/__SPLURTCODE/DEFINES/lewd.dm
  code/modules/arousal/genitals.dm
  modular_splurt/code/modules/arousal/arousal.dm
  modular_splurt/code/modules/arousal/organs/breasts.dm
  modular_splurt/code/modules/arousal/organs/penis.dm
  modular_splurt/code/modules/arousal/organs/vagina.dm
Labels: Code

#2149 taur cage sprite add and sound rod updt
  modular_bluemoon/code/game/objects/items/lewd_items/genital_equipment/chastity/flat_chastity_cage.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/chastity_cage.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/metal_chastity_cage.dm
  modular_splurt/code/modules/arousal/arousal.dm
  modular_splurt/icons/obj/lewd_items/chastity_taur.dmi
Labels: Sprites, Code

#2151 alt-office-uniform
  modular_splurt/code/modules/clothing/kinkyclothes.dm
  modular_splurt/icons/mob/clothing/extra.dmi
  modular_splurt/icons/mob/clothing/uniform.dmi
  modular_splurt/icons/obj/clothing/uniforms.dmi
Labels: Sprites, Code

#2153 poly fix
  code/datums/elements/polychromic.dm
  modular_bluemoon/code/modules/client/loadout/gloves.dm
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#2154 Nuclear sprite jam
  _maps/RandomZLevels/away_mission/ihategordon.dmm
  icons/obj/guns/projectile.dmi
  modular_bluemoon/code/modules/awaymissions/blackmesa/mesa_ghost_spawners.dm
  modular_bluemoon/code/modules/awaymissions/urbanism.dm
  modular_bluemoon/icons/obj/guns/projectile48x32.dmi
  modular_bluemoon/icons/obj/urbanism/flora.dmi
  modular_bluemoon/icons/obj/urbanism/stone.dmi
  modular_bluemoon/icons/obj/urbanism/urbanism.dmi
  modular_bluemoon/icons/obj/urbanism/urbanism_structure32x64.dmi
  tgstation.dme
Labels: Sprites, Map Edit, DME Edit, Code

#2155 cage overlay fix
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/chastity_cage.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/metal_chastity_cage.dm
Labels: Code

#2156 fix-under
  modular_bluemoon/Gardelin0/code/clothing/underwear/shirts.dm
  modular_sand/code/modules/clothing/underwear/shirts.dm
Labels: Code

#2158 funclaw weight updt + lightweight pick up delay
  modular_sand/code/datums/elements/holder_micro.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/deathclaw/funclaw.dm
Labels: Code

#2168 Loadout few fixes
  modular_bluemoon/code/modules/clothing/under/jobs/civilian/civilian.dm
  modular_sand/code/modules/clothing/under/costumes.dm
  modular_splurt/code/modules/clothing/under/miscellaneous.dm
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.csproj.AssemblyReference.cache
Labels: Code, Tools

#2169 cryo nodeconstruct and electrochromatic kit drop
  code/game/machinery/cryopod.dm
  code/game/objects/structures/window.dm
Labels: Code

#2171 changelogs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/compile_changelogs.yml
  tgui/packages/tgui/interfaces/Changelog.js
Labels: Javascript, TGUI, Github

#2170 Чистка кода и настройка конфигов
  .github/FUNDING.yml
  README.md
  code/controllers/configuration/entries/urls.dm
  code/datums/elements/_element.dm
  code/modules/keybindings/setup.dm
  config/entries/urls.txt
  config/maps.txt
  goon/icons/obj/160x160.dmi
  interface/interface.dm
  modular_bluemoon/code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Sprites, Github, Code, Requires Config Change

#2173 Пара фиксов отображения табов
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/etips.dm
  html/statbrowser.html
  modular_citadel/code/modules/client/preferences_toggles.dm
Labels: Code

#2175 Забытый 1 эмоут
  code/modules/mod/modules/modules_springlock.dm
Labels: Code

#2177 [BLUEMOON] Chattering bone "tongue" restoration
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/chatter/chatter.dm
  code/modules/surgery/organs/tongue.dm
  interface/fonts/Papyrus.ttf
  interface/fonts/Papyrus.woff
  interface/fonts/Papyrus.woff2
  interface/fonts/fonts.css
  interface/fonts/papyrus.dm
  sound/chatter/papyrus_1.ogg
  sound/chatter/papyrus_10.ogg
  sound/chatter/papyrus_2.ogg
  sound/chatter/papyrus_3.ogg
  sound/chatter/papyrus_4.ogg
  sound/chatter/papyrus_5.ogg
  sound/chatter/papyrus_6.ogg
  sound/chatter/papyrus_7.ogg
  sound/chatter/papyrus_8.ogg
  sound/chatter/papyrus_9.ogg
  sound/chatter/sans_1.ogg
  sound/chatter/sans_10.ogg
  sound/chatter/sans_2.ogg
  sound/chatter/sans_3.ogg
  sound/chatter/sans_4.ogg
  sound/chatter/sans_5.ogg
  sound/chatter/sans_6.ogg
  sound/chatter/sans_7.ogg
  sound/chatter/sans_8.ogg
  sound/chatter/sans_9.ogg
Labels: Sound, Code

#2178 Nuclear misc jam
  _maps/RandomZLevels/away_mission/ihategordon.dmm
  modular_bluemoon/code/modules/awaymissions/blackmesa/mesa_ghost_spawners.dm
  modular_bluemoon/code/modules/awaymissions/blackmesa/weapons/mesa_guns.dm
  modular_bluemoon/icons/obj/guns/projectile.dmi
  modular_bluemoon/icons/obj/guns/projectile48x32.dmi
Labels: Sprites, Map Edit, Code

#2179 Фикс спавна ерп гостролей
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit

#2182 Исправление повторной выдачи квирка нарушителя закона после актуализации персонажа
  modular_bluemoon/code/datums/traits/neutral/criminal_quirk.dm
Labels: Code

#2184 kustiki-donat
  code/game/objects/structures/flora.dm
  modular_bluemoon/sound/plush/milp7.ogg
  modular_sand/code/datums/interactions/_interaction.dm
Labels: Sound, Code

#2185 Fire team
  code/_globalvars/bitfields.dm
  icons/mob/clothing/head.dmi
  modular_bluemoon/SmiLeY/code/terror_spiders/terror_spiders.dm
  modular_bluemoon/code/modules/clothing/outfits/ert.dm
  modular_bluemoon/kovac_shitcode/code/modules/clothing/spacesuits.dm
Labels: Sprites, Code

#2186 funclaw agro updt
  modular_bluemoon/SmiLeY/code/nanosuit/nanosuit.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/deathclaw/funclaw.dm
Labels: Code

#2142 departmental card no withdraw
  code/game/objects/items/cards_ids.dm
Labels: Code

#2193 femclaw fix
  modular_splurt/code/modules/mob/femclaw.dm
Labels: Code

#2195 dogtag_request
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/icons/mob/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/accessories.dmi
Labels: Sprites, Code
