Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-04, with the labels that each got.

#1779 My bad
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Code

#1780 Небольшая чистка кода + подгрызаем кусок от папки гарделин
  code/__BLUEMOONCODE/_DEFINES/traits.dm
  code/__SPLURTCODE/DEFINES/quirks.dm
  code/modules/mob/living/carbon/carbon.dm
  modular_bluemoon/Gardelin0/code/antagonists/ghost_spawner.dm
  modular_bluemoon/Gardelin0/code/interactions/snapped_choker.dm
  modular_bluemoon/Gardelin0/code/items/syrup_bottles.dm
  modular_bluemoon/Gardelin0/code/reagents/syrups.dm
  modular_bluemoon/Gardelin0/code/vending/boozeomat.dm
  modular_bluemoon/Gardelin0/code/vending/clothesmate.dm
  modular_bluemoon/Gardelin0/code/vending/kinkmate.dm
  modular_bluemoon/Gardelin0/icons/items/syrop_bottle.dmi
  modular_bluemoon/code/controllers/subsystem/horny_mobs_pool.dm
  modular_bluemoon/code/datums/interactions/interaction_datums/lewd/tentacle.dm
  modular_bluemoon/code/datums/mood_events/generic_positive_events.dm
  modular_bluemoon/code/datums/traits/negative/onelife_quirk.dm
  modular_bluemoon/code/datums/traits/neutral.dm
  modular_bluemoon/code/datums/traits/neutral/shy_quirk.dm
  modular_bluemoon/code/game/area/areas/antag_areas.dm
  modular_bluemoon/code/game/objects/items/ashtray.dm
  modular_bluemoon/code/game/objects/items/lewd_items/genital_equipment/chastity/flat_chastity_cage.dm
  modular_bluemoon/code/game/objects/structures/ghost_role_spawners.dm
  modular_bluemoon/code/modules/antagonists/qareen/qareen_abilities.dm
  modular_bluemoon/code/modules/clothing/fancy_maid_costume.dm
  modular_bluemoon/code/modules/food_and_drinks/drinks/drinks/bottle.dm
  modular_bluemoon/code/modules/mail/mail.dm
  modular_bluemoon/code/modules/mob/living/living.dm
  modular_bluemoon/code/modules/mob/living/living_defines.dm
  modular_bluemoon/code/modules/mob/living/simple_animal/simple_animal.dm
  modular_bluemoon/code/modules/mob/living/simple_animal/tentacles/tentacle_monster_fuck.dm
  modular_bluemoon/code/modules/mob/living/simple_animal/tentacles/tentacles.dm
  modular_bluemoon/code/modules/reagents/chemistry/reagents/food_reagents.dm
  modular_bluemoon/icons/obj/drinks.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1782 Поставил на посту прослушки правильные слиперы
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Map Edit

#1781 Плюша Белинского и Вариация для флешлайта
  _maps/map_files/generic/CentCom.dmm
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/head.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
  modular_bluemoon/krashly/code/game/objects/items/item.dm
  modular_bluemoon/sound/plush/bel1.ogg
  modular_bluemoon/sound/plush/bel2.ogg
  modular_sand/code/game/objects/items/fleshlight.dm
  tgstation.dme
Labels: Sprites, Sound, Map Edit, DME Edit, Code

#1784 Рефактор квирка "нарушитель закона"
  modular_bluemoon/code/datums/traits/neutral/criminal_quirk.dm
Labels: Code

#1785 bug fix: climax menu
  modular_splurt/code/modules/arousal/arousal.dm
Labels: Code

#1790 Смайли хватит трогать что-либо ничего не проверяя, ты удалил важные строки (unit-test fix PRIORITY MERGE)
  code/controllers/subsystem/ticker.dm
  config/title_music/sounds/exclude
  config/title_screens/images/exclude
  strings/round_start_sounds.txt
Labels: Code, Requires Config Change

#1789 [BLUEMOON] Set Custom Species Lore Fix
  code/modules/client/preferences.dm
Labels: Code

#1788 judass_mob_and_catcrin_ckey
  code/game/objects/items/miscellaneous.dm
  icons/mob/animals_held_lh.dmi
  icons/mob/animals_held_rh.dmi
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/kovac_shitcode/code/sprite_update.dm
  modular_bluemoon/kovac_shitcode/icons/animals.dmi
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
Labels: Test Merged, Sprites, Code

#1787 [BLUEMOON] Whisper with indicator
  code/modules/keybindings/keybind/communication.dm
  code/modules/mob/say.dm
  modular_bluemoon/code/modules/keybindings/keybind/communication.dm
  modular_bluemoon/code/modules/mob/say.dm
  tgstation.dme
Labels: Test Merged, DME Edit, Code

#1777 Force map and unit_tests
  _maps/_FORCE_MAP/4nalstation.dm
  _maps/_FORCE_MAP/_README.md
  _maps/_FORCE_MAP/bluemoonsmexistation.dm
  _maps/_FORCE_MAP/boxstation.dm
  _maps/_FORCE_MAP/cogstation.dm
  _maps/_FORCE_MAP/deltastation.dm
  _maps/_FORCE_MAP/festivestation.dm
  _maps/_FORCE_MAP/icemoonstation.dm
  _maps/_FORCE_MAP/kilostation.dm
  _maps/_FORCE_MAP/lambdastation.dm
  _maps/_FORCE_MAP/layeniastation.dm
  _maps/_FORCE_MAP/metastation.dm
  _maps/_FORCE_MAP/multiz_debug.dm
  _maps/_FORCE_MAP/omegastation.dm
  _maps/_FORCE_MAP/peacesyndicatestation.dm
  _maps/_FORCE_MAP/prisonstation.dm
  _maps/_FORCE_MAP/pubbystation.dm
  _maps/_FORCE_MAP/runtimestation.dm
  _maps/_FORCE_MAP/smexistation.dm
  _maps/_FORCE_MAP/smolstation.dm
  _maps/_FORCE_MAP/syndicatestation.dm
  _maps/_FORCE_MAP/taustation.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/bad_defines_defined.dm
Labels: Map Edit, DME Edit, Code

#1792 удаление случайного файла (не моего) из корневой папки билда
  boxstation.dm
Labels: Code

#1793 catcrin_spessuit
  modular_bluemoon/SmiLeY/icons/mob/clothing/tails_digi.dmi
  modular_bluemoon/icons/mob/clothing/tails_digi.dmi
  modular_bluemoon/kovac_shitcode/code/sprite_update.dm
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
  modular_bluemoon/oni3288/icons/mob/clothing/mark45.dmi
  modular_bluemoon/oni3288/icons/mob/icons/mark45.dmi
Labels: Sprites, Code

#1791 [BLUEMOON] Toys fix
  modular_bluemoon/Gardelin0/code/interactions/stuffed_movement.dm
  modular_bluemoon/Gardelin0/code/items/lewd_items/dildo_custom.dm
Labels: Test Merged, Code

#1718 Переделка greatest пода
  icons/turf/pool.dmi
  modular_bluemoon/_maps/templates/shelter_greatest.dmm
  modular_bluemoon/code/modules/mining/equipment/survival_pod.dm
Labels: Test Merged, Sprites, Code

#1795 Memento Mori
  code/__BLUEMOONCODE/_DEFINES/death.dm
  code/__BLUEMOONCODE/_DEFINES/traits.dm
  code/game/objects/items/defib.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/emergency_reboot.dm
  modular_bluemoon/code/game/objects/items/melee/backstab_knives.dm
  modular_bluemoon/code/modules/death_memory/death_memory.dm
  modular_bluemoon/code/modules/mob/living.dm
  modular_citadel/code/modules/reagents/chemistry/reagents/healing.dm
  tgstation.dme
Labels: DME Edit, Code

#1797 Религия = Библия, без дополнительных
  code/modules/jobs/job_types/service/chaplain.dm
Labels: Code

#1796 Квирки медбея + балансное
  code/__BLUEMOONCODE/_DEFINES/surgery.dm
  code/__DEFINES/traits.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/job_types/brig/brigdoc.dm
  code/modules/jobs/job_types/command/chief_medical_officer.dm
  code/modules/jobs/job_types/medbay/chemist.dm
  code/modules/jobs/job_types/medbay/medical_doctor.dm
  code/modules/jobs/job_types/medbay/paramedic.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/surgery/surgery.dm
  code/modules/uplink/uplink_items/uplink_roles.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  modular_bluemoon/code/game/objects/structures/ghost_role_spawners.dm
  modular_bluemoon/code/modules/antagonists/ert/ert.dm
  modular_bluemoon/code/modules/research/designs/weapon_designs.dm
  modular_bluemoon/fluffs/code/melee.dm
  modular_splurt/code/modules/projectiles/projectile/bullets/smg.dm
Labels: Test Merged, Code

#1798 [BLUEMOON] Lewd reagents transfer fix
  code/modules/arousal/arousal.dm
Labels: Test Merged, Code

#1800 [BLUEMOON] Portal pants overlay fix
  modular_sand/code/game/objects/items/fleshlight.dm
Labels: Test Merged, Code

#1801 ckeys_into_my_staff
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
Labels: Test Merged, Code

#1802 energy_de_swords_modkit
  modular_bluemoon/fluffs/code/melee.dm
  modular_bluemoon/krashly/code/uplink/uplink_items.dm
Labels: Test Merged, Code

#1803 Soft moans
  modular_bluemoon/code/modules/mob/emotes.dm
  modular_bluemoon/sound/emotes/softmoan1.ogg
  modular_bluemoon/sound/emotes/softmoan2.ogg
  modular_bluemoon/sound/emotes/softmoan3.ogg
  modular_bluemoon/sound/emotes/softmoan4.ogg
  modular_bluemoon/sound/emotes/softmoan5.ogg
  modular_bluemoon/sound/emotes/softmoan6.ogg
Labels: Test Merged, Sound, Code

#1805 Акрадорские вещи + мелочь
  _maps/map_files/generic/CentCom.dmm
  code/modules/clothing/suits/jobs.dm
  modular_bluemoon/SmiLeY/code/modules/client/loadout/ac_clothing.dm
  modular_bluemoon/code/modules/clothing/masks/gasmask.dm
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/head.dm
  modular_bluemoon/fluffs/code/storage.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/belt.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/gloves.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/storage.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/tails_digi.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/under.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/under_digi.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/accessories_left.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/accessories_right.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/clothing_left.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/clothing_right.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/storage_lefthand.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/storage_righthand.dmi
  modular_bluemoon/fluffs/icons/mob/large-worn-icons/32x48/head.dmi
  modular_bluemoon/fluffs/icons/mob/large-worn-icons/32x48/suit.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/gloves.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/head.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/neck.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/under.dmi
  modular_bluemoon/fluffs/icons/obj/storage.dmi
  modular_bluemoon/icons/mob/clothing/masks.dmi
  modular_bluemoon/icons/mob/inhands/clothing_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/clothing_righthand.dmi
  modular_bluemoon/icons/obj/clothing/masks.dmi
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
  modular_bluemoon/sound/effects/hahun_halt.ogg
Labels: Sprites, Sound, Map Edit, DME Edit, Code

#1806 Изменение спрайта топора
  code/modules/uplink/uplink_items/uplink_dangerous.dm
  modular_bluemoon/Ren/Code/staff/plasma_weapon.dm
  modular_bluemoon/Ren/Icons/Mob/64_64_l.dmi
  modular_bluemoon/Ren/Icons/Mob/64_64_r.dmi
  modular_bluemoon/Ren/Icons/Obj/misc.dmi
Labels: Sprites, Code

#1807 ОБР Риги инженеров теперь устойчивы к огню; ОБР медиков имеют медхуды
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Code

#1808 Personal item request
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/head.dm
  modular_bluemoon/fluffs/icons/mob/clothing/head.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/neck.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/head.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/neck.dmi
Labels: Test Merged, Sprites, Code

#1809 Апдейт спрайтов: WT-550, элит синдикат мод.
  code/modules/mod/mod_clothes.dm
  code/modules/mod/mod_control.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/mob/clothing/modsuit/mod_clothing_anthro.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
  modular_bluemoon/code/modules/clothing/masks/gasmask.dm
  modular_bluemoon/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_bluemoon/code/modules/research/designs/weapon_designs.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/head.dm
  modular_bluemoon/fluffs/code/items.dm
  modular_bluemoon/fluffs/icons/mob/inhands/items_left.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/items_right.dmi
  modular_bluemoon/fluffs/icons/obj/items.dmi
  modular_bluemoon/icons/mob/clothing/modsuit/mod_clothing.dmi.dmi
  modular_bluemoon/icons/mob/clothing/modsuit/mod_clothing_anthro.dmi
  modular_bluemoon/icons/obj/clothing/modsuit/mod_clothing.dmi.dmi
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
  modular_bluemoon/sound/effects/hahun_dontmove.ogg
  modular_bluemoon/sound/effects/hahun_hold.ogg
  modular_bluemoon/sound/effects/hahun_verdict.ogg
Labels: Test Merged, Sprites, Sound, Code

#1810 Трейт для быстрой починки
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/command/research_director.dm
  code/modules/jobs/job_types/research/roboticist.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  modular_bluemoon/code/game/objects/structures/ghost_role_spawners.dm
  modular_bluemoon/code/modules/antagonists/ert/ert.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Test Merged, Code

#1812 Бафф крав-маг
  code/datums/martial/krav_maga.dm
Labels: Test Merged, Code

#1813 Donat stuff
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/icons/obj/toys/plushes.dmi
Labels: Test Merged, Sprites, Code

#1814 New спрайты хирургических тряпок
  code/modules/surgery/tools.dm
  modular_bluemoon/icons/mob/inhands/items/items_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/items_righthand.dmi
  modular_bluemoon/icons/obj/surgery.dmi
Labels: Sprites, Code

#1816 Фикс генератора жидкостей для робо
  modular_bluemoon/code/game/machinery/robo_liquid_generator.dm
  modular_bluemoon/code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code

#1817 Крик генокрада от кремации
  code/game/objects/structures/morgue.dm
  modular_bluemoon/sound/creatures/changeling/changeling_cremation1.ogg
  modular_bluemoon/sound/creatures/changeling/changeling_cremation2.ogg
  modular_bluemoon/sound/creatures/changeling/changeling_cremation3.ogg
Labels: Sound, Code

#1818 Ребаланс криоксадона
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code

#1815 [BLUEMOON] Fix unwanted markings appearance
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Test Merged, Code

#1821 This is the first time I've added something to the game. Please don't judge me.
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
Labels: Test Merged, Sprites, Code

#1822 ПОУ: улучшение старого, добавление нового
  modular_bluemoon/code/game/objects/items/cooling_device.dm
  modular_bluemoon/code/modules/research/techweb/nodes/robotics_nodes.dm
  modular_bluemoon/icons/mob/clothing/back.dmi
  modular_bluemoon/icons/mob/inhands/clothing_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/clothing_righthand.dmi
  modular_bluemoon/icons/obj/cooling_device.dmi
Labels: Test Merged, Sprites, Code

#1820 New pig deathgasp
  code/__DEFINES/sound.dm
  modular_bluemoon/sound/voice/death_gasps/pig2.ogg
Labels: Test Merged, Sound, Code

#1823 Окно информации для ОБР
  code/datums/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/security_levels/security_levels.dm
  modular_bluemoon/code/datums/ert.dm
  modular_bluemoon/code/modules/antagonists/ert/ert.dm
Labels: Code

#1824 donator_request
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/mask.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/head.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/mask.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/under.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/under_digi.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/head.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/mask.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/under.dmi
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
Labels: Sprites, Code

#1825 Респрайт SPAS 12
  modular_bluemoon/code/modules/awaymissions/blackmesa/weapons/mesa_guns.dm
  modular_bluemoon/icons/obj/guns/projectile48x32.dmi
Labels: Sprites, Code

#1826 Снова меняем спрайт SPAS 12
  modular_bluemoon/icons/mob/inhands/weapons/guns_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/weapons/guns_righthand.dmi
  modular_bluemoon/icons/obj/guns/projectile48x32.dmi
Labels: Test Merged, Sprites

#1827 catcrin_plashik
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
  modular_bluemoon/oni3288/icons/mob/clothing/neck.dmi
  modular_bluemoon/oni3288/icons/mob/icons/neck.dmi
Labels: Test Merged, Sprites, Code

#1828 [BLUEMOON] Фикс квирка "Неконтролируемый вой"
  code/datums/mood_events/generic_positive_events.dm
  code/game/sound.dm
  modular_bluemoon/code/datums/mood_events/generic_positive_events.dm
  modular_bluemoon/code/datums/traits/neutral.dm
Labels: Code

#1831 Улучшил бригмедскую на мете сделав её человеческой
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1832 Два тайла с проводами на боксе в техах были в стенах. Не надо так делать.
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1833 CBRN перчатки для меда
  code/modules/mob/living/carbon/human/human.dm
  modular_bluemoon/code/modules/clothing/gloves.dm
  modular_bluemoon/icons/mob/clothing/hands.dmi
  modular_bluemoon/icons/obj/clothing/gloves.dmi
  modular_splurt/code/modules/clothing/suits/heavy.dm
Labels: Sprites, Code

#1834 Old FTU suppressor fix
  modular_splurt/code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Code

#1836 [BLUEMOON] Fix portal pants fluid transfer
  modular_sand/code/game/objects/items/fleshlight.dm
Labels: Code
