Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-03, with the labels that each got.

#1719 МоДуЛяЗацИяяяя
  code/game/objects/items/storage/bags.dm
  icons/obj/mining.dmi
  modular_bluemoon/code/game/objects/items/storage/bags.dm
  modular_bluemoon/icons/obj/objects.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1720 Красный плащ можно повесить и на шею
  modular_citadel/code/modules/clothing/suits/suits.dm
Labels: Code

#1721 Переставление офисов, комнаты для сброса мусора и театра на боксе
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1723 Удаление мобов сумасшедшего учёного и тёмного мага при убийстве
  code/modules/mob/living/simple_animal/hostile/dark_wizard.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/crazysci.dm
Labels: Code

#1722 Фикс юбок
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/skirt_dress.dm
  modular_bluemoon/Fink/code/clothing/misc.dm
  modular_bluemoon/SmiLeY/Syndie_edits/code/syndie_edits.dm
  modular_bluemoon/code/modules/clothing/under/skirt_dress.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/krashly/code/modules/clothing/under.dm
  modular_citadel/code/modules/custom_loadout/custom_items.dm
  modular_splurt/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_splurt/code/modules/clothing/under/miscellaneous.dm
Labels: Code

#1725 [БОКС} Ремап вентиляции на боксе + камеры в меде
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1729 Убрал 20 спавнов мини боссов лаваленда у сложных хермитов - оставил один
  _maps/RandomRuins/SpaceRuins/spacehermit1.dmm
Labels: Map Edit

#1730 [BLUEMOON] Пачка микрофиксов
  code/_onclick/hud/alert.dm
  modular_bluemoon/code/datums/emotes.dm
  modular_bluemoon/code/modules/mob/living/emote.dm
  modular_bluemoon/code/modules/mob/say_vr.dm
  modular_splurt/code/datums/traits/negative_quirks/dumb_for_cum.dm
  tgstation.dme
Labels: DME Edit, Code

#1732 Ремап космических руин + уникальный автомат ВОДА БЛЯТЬ
  _maps/RandomRuins/SpaceRuins/advancedlab.dmm
  _maps/RandomRuins/SpaceRuins/arcade.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/RandomRuins/SpaceRuins/skelter.dmm
  _maps/RandomRuins/SpaceRuins/spacearcade.dmm
  _maps/RandomRuins/SpaceRuins/spacedock13.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  icons/obj/vending.dmi
  modular_bluemoon/code/modules/vending/sovietsoda.dm
  tgstation.dme
Labels: Sprites, Map Edit, DME Edit, Code

#1733 Пацифисты и Отстраненность
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code

#1735 Фикс атмоса интеков. Фикс турелей интеков. Дезратл для интеков
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  modular_bluemoon/code/game/machinery/porta_turret/portable_turret.dm
  modular_bluemoon/code/game/objects/items/implants/implant_deathrattle.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
  tgstation.dme
Labels: Map Edit, DME Edit, Code

#1736 Замена камней для заточке в инф дормах на использование
  _maps/templates/apartment_3.dmm
  _maps/templates/apartment_beach.dmm
  _maps/templates/apartment_jungle.dmm
  _maps/templates/apartment_winter.dmm
Labels: Map Edit

#1740 Убираем сабельки гейтерам
  _maps/RandomZLevels/away_mission/spacebattle.dmm
  _maps/RandomZLevels/away_mission/undergroundoutpost45.dmm
Labels: Map Edit

#1739 1
  modular_bluemoon/Ren/Code/cloth.dm
  modular_bluemoon/Ren/Code/misc.dm
  modular_bluemoon/Ren/Code/staff/plasma_weapon.dm
  modular_bluemoon/Ren/Code/staff/uplink.dm
  modular_bluemoon/Ren/Code/weapons.dm
Labels: Code

#1738 Добавил на мапинге астероид с 6-7 туморами, по запросу публики
  _maps/RandomRuins/SpaceRuins/spacehermit1.dmm
Labels: Map Edit

#1742 poster_plus_manul_toy
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
  modular_bluemoon/SmiLeY/sounds/manul1.ogg
  modular_bluemoon/SmiLeY/sounds/manul2.ogg
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
Labels: Sprites, Sound, Code

#1741 Куси доводят до оргазма жертву, а не кусающего
  modular_sand/code/datums/interactions/interaction_datums/lewd/cursed/bite.dm
Labels: Code

#1744 Фикс стеллажа для ящиков
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/simulated/reebe_void.dm
  code/game/turfs/turf.dm
Labels: Code

#1747 Sanabi hat
  code/modules/clothing/head/misc_special.dm
  modular_bluemoon/icons/mob/clothing/hats.dmi
  modular_bluemoon/icons/obj/clothing/hats.dmi
Labels: Sprites, Code

#1746 Пак фиксов: маппинг, fluff шмотки и баланс
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
  code/__DEFINES/inventory.dm
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/melee.dm
  modular_bluemoon/fluffs/icons/mob/clothing/belt.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/belts.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/melee_lefthand.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/melee_righthand.dmi
  modular_bluemoon/fluffs/icons/obj/melee.dmi
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
Labels: Sprites, Map Edit, Code

#1749 У интеков сломался имплант авторизации оружия. Починил
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Code

#1750 Фикс мета-стейшен мусорки в карго
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1752 Подогнал синдиборга ДСовцев до того состояния которое просили игроки
  modular_sand/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Code

#1754 Экспедиторы имели неправильное написание для рд
  code/modules/jobs/job_types/research/expeditor.dm
Labels: Code

#1755 catcrin_ckeys_add
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
Labels: Code

#1757 Модуляризация, контент, баланс.
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
  modular_bluemoon/code/modules/vending/wardrobes.dm
  modular_bluemoon/fluffs/code/melee.dm
  modular_bluemoon/fluffs/icons/mob/inhands/melee_lefthand.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/melee_righthand.dmi
  modular_bluemoon/fluffs/icons/obj/melee.dmi
  modular_bluemoon/icons/mob/clothing/masks.dmi
  modular_bluemoon/icons/obj/clothing/masks.dmi
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1731 Ремап сервиса бокса
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Test Merged, Map Edit

#1751 Форс режима идёт после двух голосований а не трёх.
  code/__BLUEMOONCODE/_DEFINES/gamemode.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/vote.dm
Labels: Code

#1728 Ремап ДС-1| QoL для ДСов| Разделение Офкомов ДС-1 и ДС-2|
  _maps/RandomRuins/LavaRuins/bluemoon/lavaland_surface_syndicate_base1_bluemoon.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/map_files/Mining/Lavaland_novaya.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/implants/implant_deathrattle.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/turfs/simulated/water.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/ruins/spaceruin_code/caravanambush.dm
  modular_bluemoon/code/modules/research/designs/weapon_designs.dm
  modular_splurt/_maps/RandomRuins/SpaceRuins/syndielistenspace.dmm.old
  modular_splurt/code/game/area/areas/ruins/space.dm
  tgstation.dme
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.csproj.AssemblyReference.cache
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/UnstandardnessTestForDM.csproj.FileListAbsolute.txt
Labels: Test Merged, Map Edit, DME Edit, Code, Tools

#1765 Проёбан \n
  modular_bluemoon/code/datums/components/demoraliser.dm
Labels: Code

#1766 [BLUEMOON] Шибари бола и бондажная веревка несовместимы в динамик
  modular_splurt/code/game/objects/items/lewd_items/shibola.dm
Labels: Code

#1768 Нехватка кадров
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/posibrain.dm
  modular_bluemoon/Ren/Code/staff/bundles_and_outfits.dm
  modular_bluemoon/SmiLeY/inteq_ghostrole/forgottenship.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Map Edit, Code

#1769 фикс шляпы санаби
  modular_bluemoon/icons/mob/clothing/hats.dmi
Labels: Sprites

#1772 Фикс mihana_mask
  code/modules/clothing/masks/gasmask.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
  modular_bluemoon/fluffs/code/mask.dm
  modular_bluemoon/icons/mob/clothing/masks.dmi
  modular_bluemoon/icons/obj/clothing/masks.dmi
Labels: Sprites, Code

#1759 Updated listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Map Edit

#1773 Шкелет у спейс хермитов (простых)
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  modular_bluemoon/code/modules/awaymissions/corpse.dm
  tgstation.dme
Labels: DME Edit, Code

#1771 треснувший горшок в костюмы
  modular_bluemoon/code/modules/clothing/head/misc.dm
  modular_bluemoon/code/modules/vending/autodrobe.dm
  modular_bluemoon/icons/mob/clothing/hats.dmi
  modular_bluemoon/icons/obj/clothing/hats.dmi
Labels: Sprites, Code

#1770 Сикей в донатерский лодаут
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#1753 gaslamp
  modular_bluemoon/code/modules/mob/living/simple_animal/friendly/gaslamp.dm
  modular_bluemoon/icons/mob/gaslamp.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1774 Удаление второй карты синдиката и чистка кода
  _maps/_DEFINES/README.MD
  _maps/_DEFINES/maps.dm
  _maps/_basemap.dm
  _maps/map_files/CogStation/job_changes.dm
  _maps/map_files/OmegaStation/job_changes.dm
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/PubbyStation/job_changes.dm
  _maps/map_files/SyndicateStation/job_changes.dm
  _maps/peacesyndicatestation.dm
  _maps/peacesyndicatestation.json
  modular_bluemoon/_maps/PrisonStation/job_changes.dm
  tgstation.dme
Labels: Map Edit, DME Edit, Code

#1776 Инженер Space InteQ
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  code/game/objects/items/storage/belt.dm
  modular_bluemoon/SmiLeY/hecu/icons/inteq_cards.dm
  modular_bluemoon/SmiLeY/inteq_ghostrole/forgottenship.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Map Edit, Code

#1775 Переворачиваем слои лаваленда + удаление неиспользуемых старых карт
  _maps/RandomRuins/LavaRuins/bluemoon/lavaland_surface_syndicate_base1_bluemoon.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/_basemap.dm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Lavaland_old.dmm
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/mapping.dm
  config/lavaRuinBlacklist.txt
  modular_bluemoon/SmiLeY/code/lavaland.dm
  tgstation.dme
Labels: Map Edit, DME Edit, Code, Requires Config Change
