Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-06, with the labels that each got.

#1902 [BLUEMOON] Fix milking machine
  code/modules/arousal/arousal.dm
  modular_bluemoon/code/modules/lewd_structures/milking_machine.dm
  modular_splurt/code/modules/arousal/arousal.dm
Labels: Code

#1911 [BLUEMOON] Микрофиксы
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
  modular_sand/code/datums/interactions/interaction_datums/interaction_definitions.dm
  modular_splurt/code/modules/clothing/spacesuits/hardsuit.dm
Labels: Sprites, Code

#1915 headpat hater icon QOL
  modular_splurt/code/datums/traits/neutral_quirks/headpat_hater.dm
Labels: Code

#1899 [BLUEMOON] Фикс одежды с замком
  code/datums/elements/strippable.dm
  code/modules/clothing/neck/_neck.dm
  modular_bluemoon/code/game/objects/items.dm
  modular_bluemoon/code/game/objects/items/fleshlight.dm
  modular_bluemoon/code/modules/clothing/neck/_neck.dm
  modular_sand/code/game/objects/items/fleshlight.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/chastity_belt.dm
  modular_splurt/code/modules/mob/living/carbon/carbon.dm
  tgstation.dme
Labels: DME Edit, Code

#1920 Ебля хвостом (интеракции с хвостом с кем-то и самим собой)
  code/__SANDCODE/DEFINES/lewd.dm
  code/modules/mob/living/living.dm
  modular_bluemoon/code/datums/interactions/interaction_datums/lewd/tail.dm
  modular_sand/code/_globalvars/bitfields.dm
  modular_sand/code/datums/components/interaction_menu_granter.dm
  modular_sand/code/datums/interactions/_interaction.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/slap.dm
  modular_splurt/code/datums/interactions/lewd/_lewd.dm
  modular_splurt/code/datums/interactions/lewd/lewd_datums.dm
  tgstation.dme
Labels: DME Edit, Code

#1921 Доп фикс проверки на хвосты и чуток доделка взаимодействий
  code/modules/mob/living/living.dm
  modular_bluemoon/code/datums/interactions/interaction_datums/lewd/tail.dm
  modular_sand/code/datums/interactions/_interaction.dm
Labels: Code

#1922 Новые спрайты
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/energy/laser.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/energy.dmi
  icons/obj/guns/projectile.dmi
  modular_bluemoon/fluffs/code/guns.dm
  modular_splurt/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_splurt/icons/obj/guns/projectile.dmi
Labels: Sprites, Code

#1929 Ладно выскочило, фикс тавров и их членов
  code/modules/client/preferences.dm
Labels: Code

#1932 Baroness dress update
  modular_bluemoon/icons/mob/clothing/suit.dmi
  modular_bluemoon/icons/obj/clothing/suit.dmi
  modular_splurt/code/modules/clothing/suits/miscellaneous.dm
Labels: Sprites, Code

#1931 Update donator.dm
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#1933 [BLUEMOON] Микроправки
  code/_rendering/atom_huds/data_huds.dm
  code/modules/research/designs/machine_desings/machine_designs_medical.dm
Labels: Code

#1878 Вариации гигачада интекю
  code/modules/events/living_entity/gigachad_inteq.dm
  modular_bluemoon/kovac_shitcode/icons/gigachad_inteq.dmi
Labels: Sprites, Code

#1894 ремап гостроли интекю от cniperdodo
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
Labels: Map Edit

#1901 [BLUEMOON] Bedhead (Long(er)) микровырезка
  icons/mob/hair.dmi
Labels: Sprites

#1936 [BLUEMOON] Актуализатор и микрофиксы
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  modular_bluemoon/code/modules/clothing/neck/_neck.dm
  modular_splurt/code/game/machinery/self_actualization_device.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/metal_chastity_cage.dm
Labels: Code

#1939 Изменен тип маски флафф предмета 1DarkWater1 (фикс)
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/mask.dm
Labels: Code

#1940 Значительный ремап бокса
  _maps/RandomRuins/StationRuins/maint/5x3/5x3_ghostlibrary.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  code/datums/ruins/maint.dm
  code/game/objects/effects/landmarks.dm
  icons/turf/floors.dmi
Labels: Sprites, Map Edit, Mapping, Code

#1947 carving block QOL
  modular_bluemoon/code/game/objects/structures/statues.dm
Labels: Code

#1943 Ревизия нод исследования: инструменты
  code/modules/research/techweb/nodes/bluespace_nodes.dm
  code/modules/research/techweb/nodes/medical_nodes.dm
  code/modules/research/techweb/nodes/tools_nodes.dm
  code/modules/research/techweb/nodes/weaponry_nodes.dm
  modular_sand/code/modules/research/techweb/nodes/all_nodes.dm
  modular_splurt/code/modules/clothing/suits/heavy.dm
Labels: Code

#1946 Giant bed deconstruct 2 -> 4 metal
  modular_bluemoon/code/game/objects/structures/beds_chairs/bed.dm
Labels: Code

#1924 Роботический Процессор и Индукторы
  code/game/objects/items/inducer.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/nodes/misc_nodes.dm
  code/modules/research/techweb/nodes/robotics_nodes.dm
  code/modules/research/techweb/nodes/syndicate_nodes.dm
  code/modules/surgery/tools.dm
  icons/obj/device.dmi
  icons/obj/tools.dmi
Labels: Sprites, Code

#1927 Ребаланс СБ и Имоллятор (Тест мерж на неделю тестов игрокам)
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/nodes/weaponry_nodes.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/energy.dmi
Labels: Sprites, Code

#1954 Респрайт кэтволков под стиль плитки
  icons/turf/floors/catwalk_plating.dmi
Labels: Sprites

#1957 Присвоение ряду вендомат-напитков mood-качества
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Code

#1963 Remap MP3
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
Labels: Map Edit

#1965 Ещё пачка фиксов айсмуна
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
Labels: Map Edit

#1966 Get out sex toys
  modular_splurt/code/datums/genitals/genitals_interface.dm
Labels: Code

#1967 headpat slut panel updt
  modular_sand/code/datums/interactions/interaction_datums/interaction_definitions.dm
Labels: Code

#1968 extinguisher cabinet sprite fix
  modular_bluemoon/code/game/objects/structures/extinguisher.dm
  tgstation.dme
Labels: DME Edit, Code

#1969 [BLUEMOON] Немножко головных уборов
  modular_bluemoon/code/datums/components/crafting/recipes/recipes_clothing.dm
  modular_bluemoon/code/modules/clothing/head/helmet.dm
  modular_bluemoon/code/modules/clothing/head/misc.dm
  modular_bluemoon/code/modules/vending/clothesmate.dm
  modular_bluemoon/icons/mob/clothing/hats.dmi
  modular_bluemoon/icons/obj/clothing/hats.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1971 [BLUEMOON] Divine robes fix
  modular_citadel/code/modules/custom_loadout/custom_items.dm
Labels: Code

#1972 Нормализаторные штуки
  code/controllers/subsystem/job.dm
  code/modules/client/preferences.dm
  modular_bluemoon/code/datums/traits/neutral.dm
  modular_bluemoon/code/modules/client/loadout/_loadout.dm
  modular_bluemoon/code/modules/client/preferences.dm
  modular_bluemoon/code/modules/client/preferences_savefile.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/gloves.dm
  modular_bluemoon/fluffs/icons/obj/clothing/gloves.dmi
  modular_splurt/code/datums/components/size_normalized.dm
  modular_splurt/code/modules/clothing/sizeaccessories.dm
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1973 [BLUEMOON] Фикс квирка на удушайки
  code/modules/mob/living/carbon/life.dm
  modular_bluemoon/code/datums/interactions/interaction_datums/lewd/tail.dm
  modular_bluemoon/code/modules/mob/living/carbon/human/damage_procs.dm
  tgstation.dme
Labels: DME Edit, Code

#1976 catnip color fix
  modular_bluemoon/code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code

#1979 Фикс возможности запихнуть в название бумажки хтмл
  code/modules/paperwork/paper.dm
Labels: Code

#1982 Фикс, что последующие заходящие в бесконечный номер отеля появлялись не там
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Code

#1984 soft laugh add
  code/modules/mob/living/emote.dm
  modular_bluemoon/SmiLeY/code/serverside/emote_panel.dm
  modular_bluemoon/code/modules/mob/living/emote.dm
Labels: Code

#1985 респрайты МП 5 и М4ОА1 для мезы
  modular_bluemoon/code/modules/awaymissions/blackmesa/weapons/mesa_guns.dm
  modular_bluemoon/icons/obj/guns/projectile.dmi
  modular_bluemoon/icons/obj/guns/projectile48x32.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1988 [BLUEMOON] Удобная кнопка в панельке
  modular_sand/code/datums/components/interaction_menu_granter.dm
  tgui/packages/tgui/interfaces/MobInteraction/InfoSection.tsx
Labels: TGUI, Code

#1991 Переводы эмоутов
  code/modules/mob/living/emote.dm
  modular_bluemoon/code/modules/mob/emotes.dm
  modular_citadel/code/modules/mob/cit_emotes.dm
  modular_splurt/code/modules/mob/living/emotes.dm
Labels: Code

#1992 Удаление пилонов зена с гейта чёрной мезы
  _maps/RandomZLevels/away_mission/ihategordon.dmm
Labels: Map Edit

#1994 lewd sound updt + lust add
  modular_bluemoon/sound/interactions/voda.ogg
  modular_bluemoon/sound/interactions/watering1.ogg
  modular_bluemoon/sound/interactions/watering2.ogg
  modular_bluemoon/sound/interactions/watering3.ogg
  modular_splurt/code/datums/interactions/lewd/_lewd.dm
Labels: Sound, Code

#1996 [BLUEMOON] Телефонный провод и памятка для мапперов
  modular_bluemoon/code/modules/phone/phone.dm
  modular_bluemoon/icons/effects/beam.dmi
Labels: Sprites, Code

#1997 [BLUEMOON] Минорный фикс спрайтов венков
  modular_bluemoon/icons/mob/clothing/hats.dmi
Labels: Sprites

#1998 [BLUEMOON] Карты в случайном порядке
  code/controllers/subsystem/vote.dm
Labels: Code

#1999 Шлифовка переводов эмоутов
  modular_bluemoon/code/modules/mob/emotes.dm
  modular_splurt/code/modules/mob/living/emotes.dm
Labels: Code

#2001 Фикс экспресс консоли
  code/modules/cargo/expressconsole.dm
Labels: Code

#2000 Куча штук для уборщиков и барменов
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/dcs/signals/signals_janitor.dm
  code/datums/components/vacuum.dm
  code/datums/elements/cleaning.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/packs/service.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/jobs/job_types/service/janitor.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/nodes/tools_nodes.dm
  code/modules/vehicles/pimpin_ride.dm
  icons/obj/service/janicart_upgrade.dmi
  icons/obj/vehicles.dmi
  modular_bluemoon/code/game/objects/items/mop.dm
  modular_bluemoon/code/modules/mob/living/carbon/human/human_defines.dm
  modular_bluemoon/code/modules/mob/living/carbon/human/self_gulp_size.dm
  modular_bluemoon/code/modules/reagents/reagent_containers.dm
  modular_bluemoon/code/modules/research/designs/misc_designs.dm
  modular_bluemoon/code/modules/vehicles/pimpin_ride.dm
  modular_bluemoon/code/modules/vending/boozeomat.dm
  modular_sand/code/modules/research/techweb/nodes/all_nodes.dm
  tgstation.dme
Labels: Sprites, DME Edit, Code

#2007 Фикс того, что госты видели не все квирки
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code
