Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-01, with the labels that each got.

#1555 Помада и лак для ногтей в вендмат
  modular_bluemoon/phoenix404/modules/vending/games.dm
Labels: Code

#1538 Tail fox alt2
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_citadel/icons/mob/mam_tails.dmi
Labels: Test Merged, Sprites, Map Edit, Code

#1545 new_ltx_suit
  modular_bluemoon/tiamat_ghos7ik/code/smthn.dm
  modular_bluemoon/tiamat_ghos7ik/icons/ltxbdysuit/latexbodysuit.dmi
  modular_bluemoon/tiamat_ghos7ik/icons/ltxbdysuit/latexbodysuit_icn.dmi
  modular_bluemoon/tiamat_ghos7ik/icons/ltxbdysuit/latexbodysuit_l.dmi
  modular_bluemoon/tiamat_ghos7ik/icons/ltxbdysuit/latexbodysuit_r.dmi
  modular_splurt/code/modules/clothing/under/miscellaneous.dm
  modular_splurt/icons/mob/clothing/uniform.dmi
  modular_splurt/icons/obj/clothing/uniforms.dmi
Labels: Test Merged, Sprites, Code

#1547 Вырезание Toggle undergarments
  code/game/machinery/limbgrower.dm
  code/modules/admin/create_mob.dm
  code/modules/arousal/arousal.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_splurt/code/datums/components/pregnancy.dm
Labels: Test Merged, Administration, Code

#1551 VP78 альт-скин: новый спрайт
  _maps/map_files/BoxStation/BoxStation.dmm
  modular_splurt/icons/obj/guns/projectile.dmi
  tgstation.dme
Labels: Test Merged, Sprites, Map Edit, DME Edit

#1553 Звук при взятии карты и возможность взять карты с большего расстояния
  code/game/objects/items/toys.dm
  sound/items/carddraw.ogg
Labels: Test Merged, Sound, Code

#1559 [TGUI] Jukebox favorites
  code/game/machinery/dance_machine.dm
  code/game/machinery/dance_machine_handled.dm
  modular_bluemoon/Fink/code/items/moniq.dm
  modular_bluemoon/jukebox/jukebox_function.dm
  modular_bluemoon/phoenix404/modules/client/preferences_savefile.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Jukebox.js
Labels: Test Merged, DME Edit, Javascript, TGUI, Code

#1560 some_stuff
  modular_bluemoon/SmiLeY/code/modules/client/loadout/ac_clothing.dm
  modular_bluemoon/SmiLeY/icons/obj/clothing/ac_clothing.dmi
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/oni3288/icons/mob/clothing/mark45medic.dmi
  modular_splurt/code/modules/language/language.dm
Labels: Sprites, Code

#1563 Фикс рантайма лодаута и guest
  code/controllers/subsystem/job.dm
Labels: Code

#1495 Дал энфорсеру БЩ автоматический режим как у Г-22 хоса и самому Г-22 хоса дал возможность вешать фонарик
  modular_bluemoon/kovac_shitcode/code/modules/guns/weapons.dm
  modular_splurt/code/modules/projectiles/guns/ballistic/pistol.dm
Labels: Semi-Modular, Code

#1393 Escapee announce change
  code/modules/events/living_entity/cat_surgeon.dm
  code/modules/events/living_entity/deathclaw.dm
  code/modules/events/living_entity/gigachad_inteq.dm
  modular_bluemoon/Ren/Code/mobs.dm
Labels: Test Merged

#1566 Новые интегральные платы
  code/modules/integrated_electronics/subtypes/converters.dm
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Code

#1557 Вещь в мой личный лодаут
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/neck.dm
  modular_bluemoon/fluffs/icons/mob/clothing/neck.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/neck.dmi
  tgstation.dme
Labels: Test Merged, Sprites, DME Edit, Code

#1564 po_melochi
  modular_bluemoon/fluffs/code/accessories.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/icons/mob/clothing/accessories.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/accessories.dmi
Labels: Sprites, Code

#1502 Enhance Telemetry Logging
  code/modules/admin/IsBanned.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/tgui_panel/telemetry.dm
  config/bluemoon/discord.txt
  modular_bluemoon/phoenix404/code/entries.dm
  modular_bluemoon/phoenix404/modules/tgui_panel/telemetry.dm
  tgstation.dme
Labels: Test Merged, Semi-Modular, Administration, DME Edit, Code, Requires Config Change

#1574 исправил воду
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code

#1576 Фикс рантаймов с картами и небольшие передлки
  code/game/objects/items/toys.dm
Labels: Code

#1552 Votes and stuff
  code/__HELPERS/time.dm
  code/__SANDCODE/DEFINES/chat.dm
  code/controllers/subsystem/vote.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Test Merged, TGUI, Code

#1562 [TGUI] Refactors ghost spawner menu; adds category tabs
  code/datums/spawners_menu.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/awaymissions/corpse.dm
  code/modules/ruins/lavaland_ruin_code.dm
  modular_bluemoon/Gardelin0/code/antagonists/ghost_spawner.dm
  modular_bluemoon/Ren/Code/FTU/FTU.dm
  modular_bluemoon/kovac_shitcode/code/modules/antagonists/raiders.dm
  modular_bluemoon/kovac_shitcode/code/modules/antagonists/vox_scavengers.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
  tgui/packages/tgui/interfaces/SpawnersMenu.js
Labels: Test Merged, Javascript, TGUI, Code

#1565 Индуцер для инже боргов
  code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_bluemoon/Ren/Code/misc.dm
  modular_bluemoon/code/game/objects/items/inducer.dm
  modular_sand/code/modules/mob/living/silicon/robot/robot_modules.dm
  tgstation.dme
Labels: DME Edit, Code

#1577 Cat scream
  modular_bluemoon/KiJoking/code/modules/mob/living/emotes.dm
  modular_bluemoon/KiJoking/sound/voice/catscream1.ogg
  modular_bluemoon/KiJoking/sound/voice/catscream2.ogg
  modular_bluemoon/KiJoking/sound/voice/catscream3.ogg
  tgstation.dme
Labels: Sound, DME Edit, Code

#1578 Фикс проверок для пров
  _maps/splurt_maps/map_files/4Nalstation/4NaL_Station.dmm
Labels: Map Edit

#1573 add ponytail spiky alt for vulp
  modular_bluemoon/modules/characters_accessories/code/hair_head.dm
  modular_bluemoon/modules/characters_accessories/icons/hair.dmi
Labels: Test Merged, Sprites, Code

#1575 Fix of the Chaplain Nullrod
  code/datums/components/twohanded.dm
  modular_bluemoon/krashly/code/game/objects/items/weaponry.dm
  modular_bluemoon/krashly/icons/obj/weapons/tall.dmi
Labels: Test Merged, Sprites, Code

#1579 Фикс проливания из бота масла во время личения
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Code

#1580 Фикс 2 Misc в крафт меню
  modular_bluemoon/oni3288/code/pipebomb.dm
Labels: Code

#1581 rpg_loot_items "фикс" рантайма связанного с тактичными вещами
  code/datums/components/fantasy/prefixes.dm
Labels: Code

#1584 Если призываемых нет, то об этом сразу скажет при попытке призвать
  modular_bluemoon/Fink/code/items/summon_chalk.dm
Labels: Code

#1583 Удаление cricket bat
  _maps/splurt_maps/map_files/4Nalstation/4NaL_Station.dmm
  code/game/objects/items/weaponry.dm
Labels: Map Edit, Code

#1585 Фикс лишнего пикселя на спрайте бутылки фемкама
  modular_splurt/icons/obj/drinks.dmi
Labels: Sprites

#1586 Фикс газмайнеров на Интек базе и Сол версии
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/sol_ship.dmm
Labels: Map Edit

#1587 Фикс спрайта белого худи
  icons/obj/clothing/suits.dmi
Labels: Sprites

#1588 Возвращение ягод в вендомат ботаников
  modular_bluemoon/phoenix404/modules/vending/megaseed.dm
Labels: Code

#1589 Фикс света у парамедиков на дельте
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit

#1590 Фикс красных труб на лаваленде
  _maps/map_files/Mining/Lavaland_novaya.dmm
Labels: Map Edit

#1591 Голиаф у спейс хермита теперь не забредает в его капсулу
  _maps/RandomRuins/SpaceRuins/spacehermit1.dmm
Labels: Map Edit

#1593 Фикс мусорной трубы на синди станции
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
Labels: Map Edit

#1594 Вырезание спавнера на синди станции
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
Labels: Map Edit

#1595 Фикс возможности бесконечно менять положение при помощи пиксельшифта
  modular_sand/code/modules/pixel_shift/pixel_shift.dm
Labels: Code

#1596 Фикс возможности сделать tailbag XL при помощи tailbag с вещами
  modular_splurt/code/datums/components/crafting/recipes/recipes_clothing.dm
Labels: Code

#1599 Прозвища во время использования портального фонарика
  modular_bluemoon/code/game/objects/items/fleshlight.dm
Labels: Code

#1601 Box&Meta Station фиксы
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1602 Добавление Noir suitskirt в личный лодаут игрока famas098. №2
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#1611 Пабби лазарет в бриге переименован с крематория на Brig Medical
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#1603 Donater stuff. №3
  code/modules/clothing/under/jobs/security.dm
  modular_bluemoon/fluffs/code/donator.dm
Labels: Test Merged, Code

#1604 Фикс софы (их там много) в заброшенном баре Peace Sindicate Station
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  tgstation.dme
Labels: Map Edit, DME Edit

#1605 Фикс дорм офицеров
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1606 Обновление офиса кма для избежание недоступных турфов
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1607 Фикс деревьев на цк слое
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit

#1608 Чуто подвинул переключатель света на Дельте, чтобы госты и ии видели кнопку
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit

#1609 Ренейм вип комнат для заключённых у слейверов
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit

#1610 Килостейшон эксперементор и аплоад ии
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#1612 Подходящий душ для гостролей
  _maps/RandomRuins/LavaRuins/bluemoon/lavaland_surface_syndicate_base1_bluemoon.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/sol_ship.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/space.dm
  icons/turf/areas.dmi
  modular_bluemoon/SmiLeY/inteq_ghostrole/forgottenship.dm
  modular_splurt/_maps/RandomRuins/SpaceRuins/spacehotelbluemoon.dmm
  modular_splurt/_maps/away_mission/AGRComplexClock.dmm
  modular_splurt/_maps/away_mission/AGRComplexCult.dmm
  modular_splurt/code/modules/awaymissions/mission_code/AGRComplex.dm
Labels: Sprites, Map Edit, Code

#1568 Как-то раз я работая инженером...
  code/game/machinery/autolathe.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/destructive_analyzer.dm
  modular__juicy/icons/obj/items/food/martian.dmi
  modular_bluemoon/KiJoking/README.txt
  modular_bluemoon/KiJoking/code/clothing/suit.dm
  modular_bluemoon/KiJoking/code/loadout/suit.dm
  modular_bluemoon/KiJoking/icons/clothing/mob/gift_ribbon.dmi
  modular_bluemoon/KiJoking/icons/clothing/obj/gift_ribbon.dmi
  modular_bluemoon/KiJoking/icons/mob/mechoid.dmi
  modular_bluemoon/leesuro/icons/mob/widerobot_mechoid.dmi
  modular_bluemoon/phoenix404/modules/vending/autodrobe.dm
  modular_sand/code/modules/research/designs/tool_designs.dm
  modular_splurt/code/modules/client/loadout/glasses.dm
  modular_splurt/code/modules/clothing/suits/miscellaneous.dm
  tgstation.dme
Labels: Test Merged, Sprites, DME Edit, Code

#1613 Добитие гостролей с душами и фикс корявого маппинга (моего)
  _maps/RandomRuins/LavaRuins/bluemoon/lavaland_surface_syndicate_base1_bluemoon.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/defcon5.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/space.dm
Labels: Map Edit, Code

#1614 Хвосты и модульность
  code/modules/mob/dead/new_player/sprite_accessories/Citadel_Snowflake.dm
  code/modules/mob/dead/new_player/sprite_accessories/body_markings.dm
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_bluemoon/code/modules/mob/dead/new_player/sprite_accesories/tails.dm
  modular_bluemoon/icons/mob/bm_tails.dmi
  modular_citadel/icons/mob/mam_tails.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1615 Реновированная гидропоника Дельты + фиксы карт
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1616 Фикс дс2
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Map Edit, Code

#1618 Ограничение contractor kit в динамик лайт
  code/modules/uplink/uplink_items/uplink_bundles.dm
Labels: Code

#1620 Фикс шлюза
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1621 Платы для кастомизатора протезов и пда
  code/game/machinery/PDApainter.dm
  code/modules/research/techweb/nodes/computer_hud_nodes.dm
  code/modules/research/techweb/nodes/medical_nodes.dm
  modular_bluemoon/code/game/machinery/PDApainter.dm
  modular_bluemoon/code/game/machinery/aug_manipulator.dm
  modular_bluemoon/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_bluemoon/code/modules/research/designs/machine_desings/machine_designs_all_misc.dm
  tgstation.dme
Labels: DME Edit, Code

#1622 Минорные фиксы хвоста
  modular_bluemoon/icons/mob/bm_tails.dmi
Labels: Sprites

#1623 Перенос спавнеров ивентов чуть в более ликвидные места на синди бокс станции
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
Labels: Map Edit

#1625 rifles.dm
  modular_bluemoon/phenyamomota/code/modules/guns/rifles.dm
Labels: Code

#1624 Плюшевая игрушка Грейсона
  modular_bluemoon/olgachan/greysonplush/code/grayson.dm
  modular_bluemoon/olgachan/greysonplush/icons/graysonplush.dmi
  modular_bluemoon/olgachan/greysonplush/icons/inhand/grausonhand_r.dmi
  modular_bluemoon/olgachan/greysonplush/icons/inhand/graysonhand_l.dmi
  modular_bluemoon/olgachan/greysonplush/sound/graysonplush.ogg
  tgstation.dme
Labels: Sprites, Sound, DME Edit, Code

#1626 Ещё один ремап мусорных труб на Мете
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1628 Исправление битых пикселей
  modular_bluemoon/icons/mob/bm_tails.dmi
Labels: Sprites

#1632 Удаление бутылки при выстреле
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Code

#1630 дуегфд
  modular_bluemoon/KiJoking/code/clothing/suit.dm
  modular_bluemoon/KiJoking/icons/clothing/mob/dress.dmi
  modular_bluemoon/KiJoking/icons/clothing/obj/dress.dmi
  modular_bluemoon/fluffs/code/donator.dm
Labels: Sprites, Code

#1629 Вариация карт forced руин
  code/datums/ruins.dm
  code/modules/mapping/ruins.dm
  modular_splurt/code/datums/ruins/space.dm
Labels: Mapping, Code

#1633 Фикс Русского духа и водки
  modular_splurt/code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code

#1635 Добавление в мой лодаут paper mask, НО! которая прячется за прической.
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/mask.dm
Labels: Code

#1637 Фиксы ДС-2
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  icons/obj/closet.dmi
Labels: Sprites, Map Edit

#1636 Фиксы Дельта Станции
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Map Edit, Code

#1640 Фикс реквест консолей на чекпоинтах сб
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CogStation/CogStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LambdaStation/lambda.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
Labels: Map Edit

#1639 Фиксы на бокс станции
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1644 Фикс невозможности переставить раздатчики на синдибазах
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/map_files/Mining/Lavaland_novaya.dmm
Labels: Map Edit

#1643 Фикс двойного стона при *moan
  modular_sand/code/modules/mob/emote.dm
Labels: Code

#1642 Вещь в донат лодаут что и так есть в лодауте...
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#1641 forgotten/sol фикс туррелей и немного космоса вокруг
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/sol_ship.dmm
Labels: Map Edit
