Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-07, with the labels that each got.

#2006 Millie
  code/modules/arousal/toys/dildos.dm
  modular_bluemoon/code/game/objects/items/plushes.dm
Labels: Code

#2008 Сервера теперь работают (в рнд)
  code/controllers/subsystem/research.dm
  code/modules/research/server.dm
Labels: Code

#1987 Фулл ремап карго на боксе
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/shuttles/cargo_box.dmm
Labels: Map Edit

#1990 [BlueMoon|Loadout] Удаление старого, Добавление нового
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/storage.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/icons/mob/clothing/storage.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/obj/storage.dmi
  modular_citadel/code/modules/client/loadout/suit.dm
Labels: Sprites, Code

#2005 snuffle add + vore updt
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/status_effects/debuffs.dm
  code/modules/events/fake_virus.dm
  code/modules/mob/living/emote.dm
  code/modules/vore/eating/living.dm
  modular_bluemoon/SmiLeY/code/serverside/emote_panel.dm
  modular_bluemoon/code/modules/mob/living/emote.dm
Labels: Code

#1986 [BLUEMOON] Pedal Generator
  modular_bluemoon/code/datums/components/crafting/recipes/recipes_misc.dm
  modular_bluemoon/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_bluemoon/code/modules/pedalgen/PedalGen.dm
  modular_bluemoon/icons/obj/pedalgen.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#2013 vore flavor fix
  code/__DEFINES/say.dm
Labels: Code

#2015 Дополнение спрайта одной сумки
  modular_bluemoon/fluffs/code/storage.dm
  modular_bluemoon/fluffs/icons/mob/inhands/storage_lefthand.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/storage_righthand.dmi
Labels: Sprites, Code

#2016 Больше деталей и Фиксы тешарям
  code/game/objects/items/tools/weldingtool.dm
  icons/mob/clothing/head_muzzled.dmi
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  modular_splurt/icons/mob/clothing/species/teshari/head.dmi
Labels: Sprites, Code

#2018 SmolStation фикс шатллов рнд и пермабрига
  _maps/map_files/SmolStation/SmolStation.dmm
Labels: Map Edit

#2024 Апартаменты в бесконечный отель - поезд
  _maps/templates/apartment_train.dmm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  modular_bluemoon/SmiLeY/aesthetics/airlock/icons/airlocks/hatch/centcom.dmi
  modular_bluemoon/SmiLeY/code/hilbertshotel_ghost.dm
  modular_bluemoon/code/modules/ruins/spaceruin_code/hilbertshotel.dm
  modular_bluemoon/icons/effects/160x160.dmi
  modular_bluemoon/icons/projection/grass.dmi
  modular_bluemoon/icons/projection/rails.dmi
  modular_bluemoon/sound/ambience/train.ogg
  tgstation.dme
Labels: Sprites, Sound, Map Edit, DME Edit, Code

#2025 Добавил возмонжость изучать клоковские детали - те что падают с культа в динамик и есть в космосе/некрополисе в еденичном экземлпяре
  modular_splurt/code/modules/awaymissions/mission_code/AGRComplex.dm
Labels: Code

#2029 Хот фикс моей тупости
  _maps/RandomRuins/SpaceRuins/BlueMoon/abductor_crushed.dmm
  _maps/templates/apartment_train.dmm
Labels: Map Edit

#2030 Ещё пачка чистки кода
  _maps/RandomRuins/SpaceRuins/BlueMoon/forgotten_ship.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_lair2.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
  _maps/map_files/TauStation/TauStation.dmm
  _maps/map_files/bluemoon_maps/PrisonStation/PrisonStation.dmm
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_vault.dmm
  _maps/shuttles/slaveship_basic.dmm
  _maps/templates/apartment.dmm
  _maps/templates/apartment_beach.dmm
  _maps/templates/apartment_forest.dmm
  _maps/templates/apartment_syndi.dmm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  modular_bluemoon/_maps/RandomRuins/StationRuins/maint/box/cargo_shuttle_shuttters/bad.dmm
  modular_bluemoon/code/game/objects/effects/decals/turfdecal/markings.dm
  modular_citadel/code/modules/eventmaps/Spookystation/JTGSZwork.dm
  modular_sand/code/game/turfs/simulated/floor/base_icon_state_overrides.dm
  modular_splurt/_maps/away_mission/AGRComplexClock.dmm
  modular_splurt/_maps/away_mission/AGRComplexCult.dmm
Labels: Map Edit, Code

#2031 FastFix
  modular_citadel/code/modules/custom_loadout/custom_items.dm
Labels: Code

#2035 Advtools implant фикс
  modular_sand/code/modules/surgery/organs/augments_arms.dm
Labels: Code

#2037 plushes fix
  modular_bluemoon/code/game/objects/items/plushes.dm
Labels: Code

#2038 Убираем рантаймы в амбициях
  code/modules/ambitions/ambition_objective.dm
Labels: Code

#2043 Пачка небольших мап эдитов
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/generic/CentCom.dmm
  modular_splurt/_maps/RandomRuins/SpaceRuins/spacehotelbluemoon.dmm
Labels: Map Edit

#2041 vore qol sniff and lick
  code/modules/vore/eating/living.dm
Labels: Code

#2017 Квирк на воображаемого друга
  code/__BLUEMOONCODE/_DEFINES/traits.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/awaymissions/corpse.dm
  modular_bluemoon/code/datums/brain_damage/imaginary_friend.dm
  modular_bluemoon/code/datums/traits/neutral.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/SpawnersMenu.js
Labels: DME Edit, Javascript, TGUI, Code

#2045 Спрайт инхенд плюшки
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  tgstation.dme
Labels: Sprites, DME Edit

#2046 Millie dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
Labels: Sprites

#2042 beerkeg updt
  code/modules/reagents/reagent_dispenser.dm
  modular_bluemoon/code/modules/reagents/reagent_dispenser.dm
Labels: Code

#2050 bdsm bed and X stand
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_bluemoon/code/modules/lewd_structures/bdsm_furniture.dm
  modular_bluemoon/code/modules/lewd_structures/shibari_stand.dm
  modular_bluemoon/code/modules/vending/kinkmate.dm
Labels: Code

#2051 Добавляем в ЕМП алюминий и ограничиваем взрыв до 300 юнитов
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Code

#2047 Ещё пачка фиксов по картам
  _maps/RandomZLevels/away_mission/TheBeach.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/splurt_maps/map_files/4Nalstation/4NaL_Station.dmm
Labels: Map Edit

#2054 [Bluemoon|Loadout] Adding items to loadout. + Adding CKeys.
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#2053 millie-fix-upd
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/sound/plush/millie.ogg
  modular_bluemoon/sound/plush/milp1.ogg
  modular_bluemoon/sound/plush/milp2.ogg
  modular_bluemoon/sound/plush/milp3.ogg
  modular_bluemoon/sound/plush/milp4.ogg
  modular_bluemoon/sound/plush/milp5.ogg
  modular_bluemoon/sound/plush/milp6.ogg
Labels: Sprites, Sound, Code

#2049 climax updt
  code/modules/arousal/arousal.dm
  modular_sand/code/modules/arousal/arousal.dm
Labels: Code

#2055 [Bluemoon|Loadout] Minor changes
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/guns.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/mob/guns_left.dmi
  modular_bluemoon/fluffs/icons/mob/guns_right.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/obj/guns.dmi
  modular_bluemoon/fluffs/sound/weapon/rshfuture_shot.ogg
Labels: Sprites, Sound, Code

#2027 Улучшил чёрный рынок
  code/modules/cargo/blackmarket/blackmarket_telepad.dm
  modular_splurt/code/modules/cargo/blackmarket/weapons.dm
Labels: Code

#2057 maso and trait updt
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/arousal/arousal.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/vore/eating/living.dm
  modular_splurt/code/_onclick/observer.dm
  modular_splurt/code/datums/traits/positive_quirks/bloodfledge.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/estim_chastity_cage.dm
Labels: Code

#2061 [BLUEMOON] Микрофиксы
  code/__HELPERS/view.dm
  code/datums/traits/good.dm
  modular_bluemoon/code/modules/death_memory/death_memory.dm
  modular_bluemoon/code/modules/phone/phone.dm
Labels: Code

#2062 Бокс фикс шаттерсов в переговорной на боксе
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2066 drink recipes fix
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Code

#2067 plushes box menu updt
  code/game/objects/items/miscellaneous.dm
  modular_bluemoon/code/modules/vending/games.dm
Labels: Code

#2065 donator cybercoat add
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/icons/mob/clothing/head.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/clothing_left.dmi
  modular_bluemoon/fluffs/icons/mob/inhands/clothing_right.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/head.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
Labels: Sprites, Code

#2064 Улучшение панели эмоутов
  code/__BLUEMOONCODE/_DEFINES/custom_emote_panel.dm
  code/datums/emotes.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/emote.dm
  code/modules/tgui_input/text.dm
  modular_bluemoon/code/modules/tgui_panel/tgui_emote_panel.dm
  tgstation.dme
  tgui/packages/tgui-panel/emotes/EmotePanel.js
Labels: DME Edit, Javascript, TGUI, Code

#2071 rose fix
  modular_sand/code/modules/hydroponics/grown/flowers.dm
Labels: Code

#2072 Фиксы декалей
  code/datums/elements/decal.dm
  code/game/objects/effects/decals/decal.dm
Labels: Code

#2075 Пачка фиксов на айсмун
  _maps/map_files/bluemoon_maps/icemoonstation.dmm
Labels: Map Edit

#2020 Major panel updt\retext and Dildo\strapon rework\fleshlight [DONE]
  code/modules/arousal/arousal.dm
  code/modules/arousal/genitals.dm
  code/modules/arousal/toys/dildos.dm
  modular_bluemoon/Gardelin0/code/interactions/stuffed_movement.dm
  modular_bluemoon/Gardelin0/code/items/lewd_items/dildo_custom.dm
  modular_bluemoon/code/datums/interactions/interaction_datums/lewd/tail.dm
  modular_bluemoon/code/modules/arousal/toys/dildos.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/facefuck.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/fuck.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/mount.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/nuts.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/oral.dm
  modular_sand/code/datums/interactions/interaction_datums/lewd/self/jack.dm
  modular_sand/code/datums/interactions/lewd_definitions.dm
  modular_sand/code/datums/interactions/lewd_objects.dm
  modular_sand/code/game/objects/items/fleshlight.dm
  modular_splurt/code/datums/interactions/lewd/_lewd.dm
  modular_splurt/code/game/objects/items/lewd_items/strapon.dm
  tgstation.dme
Labels: DME Edit, Code

#2069 [BLUEMOON] Wooden cup and dice shuffle
  code/game/objects/items/dice.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_bluemoon/code/datums/components/crafting/recipes/recipes_misc.dm
  modular_bluemoon/code/modules/food_and_drinks/drinks/drinks.dm
  modular_bluemoon/icons/obj/drinks.dmi
  modular_bluemoon/sound/items/dice_in_cup_1.ogg
  modular_bluemoon/sound/items/dice_in_cup_2.ogg
  modular_bluemoon/sound/items/dice_roll.ogg
  modular_bluemoon/sound/items/wooden_drop.ogg
Labels: Sprites, Sound, Code

#2074 [BLUEMOON] Find cards in deck
  modular_splurt/code/modules/toys/cards.dm
Labels: Code

#2077 FIX MY MESA CHASMS PLEASE
  _maps/RandomZLevels/away_mission/ihategordon.dmm
  modular_bluemoon/code/modules/awaymissions/blackmesa/mobs/mesa_hostile_mobs.dm
  modular_bluemoon/code/modules/awaymissions/urbanism.dm
  modular_bluemoon/icons/mob/bullsquidnew.dmi
  modular_bluemoon/icons/obj/urbanism/urbanism96x160.dmi
  modular_bluemoon/icons/obj/urbanism/urbanism_structure32x64.dmi
Labels: Sprites, Map Edit, Code

#2078 [BLUEMOON] d6 dice set
  modular_bluemoon/code/game/objects/items/dice.dm
  modular_bluemoon/code/modules/vending/games.dm
  tgstation.dme
Labels: DME Edit, Code

#2079 [BLUEMOON] Festive fix
  _maps/festivestation.json
  _maps/map_files/FestiveBall/FestiveStation.dmm
  code/game/area/areas/edina.dm
  modular_citadel/code/modules/vectorcrafts/vectorcraft.dm
  modular_citadel/code/modules/vectorcrafts/vectorvariants.dm
Labels: Map Edit, Code

#2085 bandolier fix
  code/game/objects/items/storage/belt.dm
Labels: Code
