Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-02, with the labels that each got.

#1647 donator_zapros
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/under.dmi
  modular_bluemoon/fluffs/icons/mob/clothing/under_digi.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/under.dmi
Labels: Sprites, Code

#1651 Фикс абуза секс стола в гост кафе
  _maps/templates/apartment_prison.dmm
  modular_splurt/code/game/machinery/research_table.dm
Labels: Map Edit, Code

#1650 Фиксы карты Мета
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1649 Пара багфиксов бокса
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1648 Update donator.dm
  modular_bluemoon/fluffs/code/donator.dm
Labels: Code

#1646 Корректное отображение ушей Cat, Big.
  modular_citadel/icons/mob/mam_ears.dmi
Labels: Sprites

#1654 Ремап Бокс парк
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1653 Фикс спавна интековца вместо синди слипера для гостроли
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  code/modules/ruins/lavaland_ruin_code.dm
  modular_splurt/_maps/RandomRuins/SpaceRuins/syndielistenspace.dmm
Labels: Test Merged, Map Edit, Code

#1652 Частичный ремап ДС2
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
Labels: Test Merged, Map Edit

#1645 Серьёзно, почему я не могу застегнуться на чертовоме stool'e
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Test Merged, Code

#1659 Фикс жвачки
  code/game/objects/items/storage/boxes.dm
  code/modules/food_and_drinks/food/snacks_other.dm
Labels: Code

#1658 Ремап эвака бокса
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1655 Ремап парка на Мете
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1598 Возможность адекватно призывать персонажей из гост кафе с квирком призываемый
  code/game/objects/structures/ghost_role_spawners.dm
  modular_bluemoon/Fink/code/items/summon_chalk.dm
  modular_bluemoon/code/game/objects/structures/ghost_role_spawners.dm
  modular_bluemoon/vlad0s_staff/code/ghost_role_antag_datums.dm
  modular_sand/code/game/objects/structures/ghost_role_spawners.dm
  tgstation.dme
Labels: Test Merged, DME Edit, Code

#1556 Возможно запирать комнату в инфинити дормах в гост кафе
  _maps/map_files/generic/CentCom.dmm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  modular_bluemoon/SmiLeY/code/hilbertshotel_ghost.dm
Labels: Test Merged, Map Edit, Code

#1617 Дергать за хвостик.
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Test Merged, Code

#1661 Хот фикс атмоса парка бокса
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1663 Фиксы парка бокса (ещё одни)
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1619 Рыболовный магазин
  _maps/RandomRuins/SpaceRuins/BlueMoon/fisher_store.dmm
  _maps/RandomRuins/SpaceRuins/BlueMoon/infested_frigate.dmm
  config/spaceRuinBlacklist.txt
  modular_bluemoon/Ren/Code/FTU/FTU.dm
  modular_bluemoon/Ren/Code/misc.dm
  modular_bluemoon/Ren/Code/weapons.dm
  modular_bluemoon/Ren/Icons/Obj/billboard.dmi
Labels: Test Merged, Sprites, Map Edit, Code, Requires Config Change

#1638 Buffed Mods
  code/modules/mod/mod_theme.dm
Labels: Test Merged, Code

#1667 Фикс невозможности выполнить баунти на кровь
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/bounty.dm
Labels: Code

#1668 Фикс отображения микроволновки и моб холдеров
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Code

#1669 Бафф синергии Регенерирующего и Недышащего
  code/modules/mob/living/carbon/human/species.dm
Labels: Code

#1666 Viva la Atmosia!
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/clothing/suits/utility.dm
  code/modules/jobs/job_types/engineer/atmospheric_technician.dm
  code/modules/mod/mod_theme.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/device.dmi
  icons/obj/storage.dmi
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/icons/obj/plushes.dmi
  modular_bluemoon/phoenix404/modules/vending/wardrobes.dm
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1670 Выставление размера выпитого за 1 клик
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
  modular_bluemoon/code/modules/mob/living/carbon/human/self_gulp_size.dm
  tgstation.dme
Labels: DME Edit, Code

#1664 Модульность модуля Блюмуна (часть 1)
  _maps/map_files/generic/CentCom.dmm
  code/modules/jobs/job_types/command/research_director.dm
  modular_bluemoon/Fink/code/datums/traits/dna_bm.dm
  modular_bluemoon/GranMor/test
  modular_bluemoon/_maps/templates/shelter_510.dmm
  modular_bluemoon/anti_normalizer_quirk/anti_normalizer_quirk.dm
  modular_bluemoon/bater/code/misc.dm
  modular_bluemoon/bater/icons/mob/plush_l.dmi
  modular_bluemoon/bater/icons/mob/plush_r.dmi
  modular_bluemoon/bater/icons/obj/misc.dmi
  modular_bluemoon/bater/sound/doorbell-cat.ogg
  modular_bluemoon/code/datums/traits/neutral.dm
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/code/modules/jobs/job_types/job.dm
  modular_bluemoon/code/modules/mining/equipment/survival_pod.dm
  modular_bluemoon/code/modules/mining/shelters.dm
  modular_bluemoon/code/modules/paperwork/paper_premade.dm
  modular_bluemoon/code/modules/uplink/uplink_items/uplink_roles.dm
  modular_bluemoon/cryo_teleport_deletion/cryo_teleport_deletion.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
  modular_bluemoon/jobs_species_blacklist/jobs_species_blacklist.dm
  modular_bluemoon/phenyamomota/code/modules/jobs/job_types/research_director.dm
  modular_bluemoon/sound/voice/stasik_volcahara.ogg
  modular_bluemoon/spiky_trait/code/datums/traits/dna_bm.dm
  modular_bluemoon/spiky_trait/code/datums/traits/neutral.dm
  tgstation.dme
Labels: Sprites, Sound, Map Edit, DME Edit, Code

#1662 Пластик в рнд
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CogStation/CogStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LambdaStation/lambda.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PeaceSyndicateStation/PeaceSyndicateBoxStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
Labels: Map Edit

#1675 Фикс рантайма при выпадении вещей из двух рук если это двуручное оружие
  code/datums/components/twohanded.dm
Labels: Code

#1674 Фикс невозможности за борга разобрать рнд оборудование
  code/game/machinery/autolathe.dm
  code/modules/research/destructive_analyzer.dm
Labels: Code

#1673 Фикс secretcatchem и удаление из-за него из реальности
  modular_citadel/code/modules/reagents/chemistry/reagents/fermi_reagents.dm
Labels: Code

#1672 ДС-2 ещё больше ремапа
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
Labels: Map Edit

#1676 alta_new_year2
  modular_bluemoon/kovac_shitcode/code/sprite_update.dm
  modular_bluemoon/kovac_shitcode/icons/animals.dmi
Labels: Sprites, Code

#1677 [not]My [so]wonderful fireaxe icon update
  code/game/objects/items/fireaxe.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/wallmounts.dmi
  modular_bluemoon/code/game/objects/items/fireaxe.dm
  modular_bluemoon/icons/obj/items_and_weapons.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#1678 Личные вещички паре донатеров
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/head.dm
  modular_bluemoon/fluffs/code/suit.dm
  modular_bluemoon/fluffs/icons/mob/clothing/suit.dmi
  modular_bluemoon/fluffs/icons/mob/large-worn-icons/32x48/head.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/hats.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/suit.dmi
Labels: Sprites, Code

#1682 Фикс неработающего инжектора
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1681 Фикс очепяток в тексте описания одежды Хэнка
  modular_bluemoon/Ren/Code/staff/uplink.dm
Labels: Code

#1680 ДС-2 фикс стены
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
Labels: Map Edit

#1688 Случайный переход между техами около карго на боксе
  _maps/map_files/BoxStation/BoxStation.dmm
  modular_bluemoon/_maps/RandomRuins/StationRuins/maint/box/cargo_shuttle_shuttters/bad.dmm
  modular_bluemoon/_maps/RandomRuins/StationRuins/maint/box/cargo_shuttle_shuttters/cracked.dmm
  modular_bluemoon/_maps/RandomRuins/StationRuins/maint/box/cargo_shuttle_shuttters/good.dmm
  modular_bluemoon/_maps/RandomRuins/StationRuins/maint/box/cargo_shuttle_shuttters/lavaland.dmm
  modular_bluemoon/code/datums/ruins/maint.dm
  modular_bluemoon/code/game/objects/effects/spawners/lootdrop.dm
  tgstation.dme
Labels: Map Edit, Mapping, DME Edit, Code

#1686 Лэндмарки проф и лута с ивентами
  _maps/map_files/generic/CentCom.dmm
  icons/effects/landmarks_static.dmi
  icons/mob/landmarks.dmi
  modular_splurt/code/game/objects/effects/landmarks.dm
Labels: Sprites, Map Edit, Code

#1685 ihategordon misc updates + urbanism pack
  _maps/RandomZLevels/away_mission/ihategordon.dmm
  config/awaymissionconfig.txt
  modular_bluemoon/olgachan/blackmesafromnova/code/mobs/snark.dm
  modular_bluemoon/olgachan/blackmesafromnova/icons/snarkicon.dmi
  modular_bluemoon/olgachan/blackmesafromnova/sound/mobs/snark/snark1.ogg
  modular_bluemoon/olgachan/blackmesafromnova/sound/mobs/snark/snark2.ogg
  modular_bluemoon/olgachan/blackmesafromnova/sound/mobs/snark/snark3.ogg
  modular_bluemoon/olgachan/blackmesafromnova/sound/mobs/snark/snark4.ogg
  modular_bluemoon/olgachan/blackmesafromnova/sound/mobs/snark/snark5.ogg
  modular_bluemoon/olgachan/urbanismpack/code/urbanism.dm
  modular_bluemoon/olgachan/urbanismpack/icons/bigsprites.dmi
  modular_bluemoon/olgachan/urbanismpack/icons/icons.dmi
  modular_bluemoon/olgachan/urbanismpack/icons/vehicles.dmi
  tgstation.dme
Labels: Sprites, Sound, Map Edit, DME Edit, Code, Requires Config Change

#1689 catcrin_hud
  modular_bluemoon/oni3288/code/catcrin_healthscan_suit.dm
  modular_bluemoon/oni3288/code/catcrin_stuff.dm
  modular_bluemoon/oni3288/icons/mob/clothing/mark45medic.dmi
  tgstation.dme
Labels: Test Merged, Sprites, DME Edit, Code

#1690 Эмоуты ржания и фырканье для лошадей.
  modular_bluemoon/KiJoking/code/modules/mob/living/emotes.dm
  modular_bluemoon/KiJoking/sound/voice/neigh.ogg
  modular_bluemoon/KiJoking/sound/voice/snort.ogg
Labels: Sound, Code

#1691 дополнительные ключ карты плюс возможность подобрать снарка
  modular_bluemoon/olgachan/blackmesafromnova/code/mobs/snark.dm
  modular_bluemoon/olgachan/blackmesafromnova/code/structures.dm
Labels: Code

#1692 Новый квирк и чуток дополнений квиркам
  code/__BLUEMOONCODE/_DEFINES/traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_bluemoon/Fink/code/datums/traits/dna_bm.dm
  modular_bluemoon/code/datums/traits/neutral.dm
  modular_splurt/code/modules/mob/living/living.dm
Labels: Code

#1693 Блендер и фиксы для него
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Code

#1694 Фикс арта персонажа и актуализатора
  code/modules/client/preferences.dm
Labels: Code

#1696 Блендер, Теха и моя тупость
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  modular_bluemoon/code/datums/ruins/maint.dm
Labels: Test Merged, Mapping, Code

#1697 Фикс взрывоопасной мыши
  modular_splurt/code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Code

#1699 Фиксы сервиса на Мете
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#1702 Фикс проклятого и energized топора
  code/datums/components/omen.dm
  code/game/objects/items/fireaxe.dm
Labels: Code

#1703 Деньги для ДС
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Map Edit, Code

#1705 Мапфиксы и ремаппинг на Лаваленде
  _maps/map_files/Mining/Lavaland_novaya.dmm
Labels: Map Edit

#1706 Персонажи с Naga (coiled) телом, могут использовать способность coiling
  code/modules/mob/living/carbon/human/innate_abilities/coiling.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Code

#1708 Новые капсулы и пайки шахтёрам
  modular_bluemoon/_maps/templates/shelter_arena.dmm
  modular_bluemoon/_maps/templates/shelter_greatest.dmm
  modular_bluemoon/_maps/templates/shelter_pill.dmm
  modular_bluemoon/code/modules/mining/equipment/machine_vending.dm
  modular_bluemoon/code/modules/mining/equipment/survival_pod.dm
  modular_bluemoon/code/modules/mining/shelters.dm
  tgstation.dme
Labels: DME Edit, Code

#1709 Респрайт пола под один стиль
  icons/turf/floors.dmi
  modular_sand/icons/turf/floors.dmi
Labels: Sprites

#1711 Usefull Atmos Firesuit
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  code/game/objects/structures/fireaxe.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
Labels: Map Edit, Code

#1712 Slyaumiki
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/innate_abilities/blobform.dm
  icons/mob/mob.dmi
Labels: Sprites, Sound, Code

#1713 Фикс пикселей хвоста
  modular_bluemoon/icons/mob/bm_tails.dmi
Labels: Sprites

#1714 Ремап гейта и хранилища плат на боксе под стиль бистейшена
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#1701 Жрутти
  code/game/objects/items/miscellaneous.dm
  icons/mob/animals_held_lh.dmi
  icons/mob/animals_held_rh.dmi
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/kovac_shitcode/code/sprite_update.dm
  modular_bluemoon/kovac_shitcode/icons/animals.dmi
Labels: Test Merged, Sprites, Code

#1717 СИЛВЕР БЛЯТЬ
  modular_bluemoon/kovac_shitcode/code/sprite_update.dm
Labels: Code
