Repository BlueMoon-Labs/BlueMoon-Station, pull requests merged in 2025-09, with the labels that each got.

#2196 fixes
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/arousal/arousal.dm
  code/modules/arousal/genitals.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/keybindings/keybind/communication.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/say_vr.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  modular_bluemoon/Gardelin0/code/obj/lewd_devices/dildo_machine.dm
  modular_bluemoon/SmiLeY/code/nanosuit/nanosuit.dm
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/code/modules/mob/living/simple_animal/tentacles/tentacles.dm
  modular_sand/code/datums/components/interaction_menu_granter.dm
  modular_splurt/code/game/objects/items/devices/radio/electropack.dm
  modular_splurt/code/game/objects/items/lewd_items/genital_equipment/chastity/chastity_cage.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/deathclaw/funclaw.dm
  modular_splurt/code/modules/mob/living/simple_animal/hostile/werewolves/funwolf.dm
Labels: Code

#2198 Nuclear updates jam
  _maps/RandomZLevels/away_mission/ihategordon.dmm
  modular_bluemoon/code/modules/awaymissions/blackmesa/mesa_ghost_spawners.dm
  modular_bluemoon/code/modules/awaymissions/urbanism.dm
  modular_bluemoon/icons/obj/guns/projectile.dmi
  modular_bluemoon/icons/obj/guns/projectile48x32.dmi
  modular_bluemoon/icons/obj/urbanism/deadhuman.dmi
  modular_bluemoon/icons/obj/urbanism/urbanism.dmi
  modular_bluemoon/icons/obj/urbanism/urbanism_structure32x64.dmi
Labels: Sprites, Map Edit, Code

#2201 [BLUEMOON] Slime cookies update
  code/__HELPERS/areas.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/consuming.dm
Labels: Code

#2203 [BLUEMOON] Pedalgen engine for Box station
  _maps/RandomRuins/StationRuins/Box/Engine/bluemoon/engine_pedalgens.dmm
  config/entries/general.txt
  modular_bluemoon/code/datums/ruins/station.dm
Labels: Map Edit, Mapping, Code, Requires Config Change

#2204 бафф картриджей RCD
  code/game/objects/items/RCD.dm
Labels: Code

#2212 Обновление шахтёрского вендора
  code/modules/mining/machine_vending.dm
Labels: Code

#2199 One day, while Bartholomew Edwards was masturbating, and his "friend", got wood. He could no longer help himself but to wonder about biological ascension.
  code/__DEFINES/machines.dm
  code/modules/research/machinery/protolathe.dm
  modular_bluemoon/code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_bluemoon/code/modules/reagents/chemistry/recipes/recipes.dm
  modular_bluemoon/code/modules/research/designs/bioaegis_designs.dm
  modular_bluemoon/code/modules/research/machinery/protolathe.dm
  modular_bluemoon/code/modules/research/techweb/nodes/medical_nodes.dm
  modular_bluemoon/code/modules/surgery/organs/augments_chest.dm
  modular_bluemoon/code/modules/surgery/organs/bioaegis_other.dm
  modular_bluemoon/code/modules/surgery/organs/heart.dm
  modular_bluemoon/code/modules/surgery/organs/liver.dm
  modular_bluemoon/code/modules/surgery/organs/lungs.dm
  modular_bluemoon/icons/obj/machines/research.dmi
  modular_bluemoon/icons/obj/surgery.dmi
  modular_splurt/code/modules/client/preferences.dm
  tgstation.dme
Labels: Sprites, DME Edit, Code

#2213 Микро-патч 1.0.1
  code/game/objects/items/devices/flashlight.dm
  modular_bluemoon/code/game/objects/items/deviant_permits.dm
  modular_bluemoon/code/modules/client/loadout/__donator.dm
Labels: Code

#2220 [BLUEMOON] Block and parry stats fix
  code/game/objects/items.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/misc.dm
  modular_bluemoon/kovac_shitcode/code/modules/guns/weapons.dm
Labels: Code

#2221 Хирургия QOL
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/implant_removal.dm
Labels: Code

#2224 Donater request
  modular_bluemoon/code/modules/clothing/under/skirt_dress.dm
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/icons/mob/clothing/uniforms.dmi
  modular_bluemoon/icons/obj/clothing/uniforms.dmi
Labels: Sprites, Code

#2225 Slavers roundtype fix
  modular_bluemoon/code/game/objects/structures/ghost_role_spawners.dm
Labels: Map Edit, Code

#2226 if() issue fix
  modular_bluemoon/code/game/objects/structures/ghost_role_spawners.dm
Labels: Code

#2227 [Biological Ascension micro-patch]If you are happy and you know it - clap your hands!
  code/game/objects/items/storage/bags.dm
  modular_bluemoon/code/modules/research/designs/bioaegis_designs.dm
  modular_bluemoon/code/modules/research/machinery/protolathe.dm
  modular_bluemoon/code/modules/research/techweb/nodes/medical_nodes.dm
  modular_bluemoon/code/modules/surgery/organs/bioaegis_other.dm
  modular_bluemoon/code/modules/surgery/organs/heart.dm
  modular_bluemoon/code/modules/surgery/organs/liver.dm
  modular_bluemoon/code/modules/surgery/organs/lungs.dm
Labels: Code

#2229 genitals layer fix
  code/__DEFINES/misc.dm
Labels: Code

#2222 [BLUEMOON] Dark Souls Bonfire and Blacksmithing QoL
  code/__BLUEMOONCODE/_DEFINES/traits.dm
  code/datums/components/aura_healing.dm
  code/modules/jobs/job_types/service/assistant.dm
  code/modules/smithing/anvil.dm
  code/modules/smithing/smithed_items.dm
  modular_bluemoon/code/game/objects/structures/bonfire.dm
  modular_bluemoon/code/modules/smithing/coiled_sword.dm
  modular_bluemoon/icons/obj/smith/coiled_sword.dmi
  modular_bluemoon/icons/obj/structures/ashen_bonfire.dmi
  modular_bluemoon/sound/effects/bonfire_lit.ogg
  tgstation.dme
Labels: Sprites, Sound, DME Edit, Code

#2211 [BLUEMOON] Pickweight fix 2
  code/__HELPERS/_lists.dm
  code/_rendering/parallax/types/space.dm
  code/controllers/subsystem/events.dm
  code/datums/ai_laws.dm
  code/datums/components/twitch_plays.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  config/entries/general.txt
Labels: Code, Requires Config Change

#2233 maebari fix
  modular_splurt/code/modules/clothing/underwear/boxers.dm
Labels: Code

#2235 Макро-патч для Биологии
  _maps/map_files/Mining/Lavaland.dmm
  code/game/area/areas/ruins/lavaland.dm
  modular_bluemoon/code/modules/research/designs/bioaegis_designs.dm
  modular_bluemoon/code/modules/research/machinery/protolathe.dm
  modular_bluemoon/code/modules/research/techweb/nodes/medical_nodes.dm
  modular_bluemoon/code/modules/surgery/organs/bioaegis_dangerous.dm
  modular_bluemoon/icons/obj/machines/research.dmi
  modular_bluemoon/icons/obj/surgery.dmi
  tgstation.dme
Labels: Sprites, Map Edit, DME Edit, Code

#2236 фиксы ошибок тестов
  code/game/area/areas/away_content.dm
  code/modules/events/living_entity/gigachad_inteq.dm
  tgui/packages/tgui-panel/emotes/EmotePanel.js
Labels: Javascript, TGUI, Code

#2238 Shadekin-морда
  modular_splurt/code/game/machinery/limbgrower.dm
Labels: Sprites, Code

#2244 Улучшение времени активации и обслуживания МОДа
  code/__DEFINES/mod.dm
  code/modules/mod/mod_control.dm
Labels: Code

#2249 sessil_rape
  modular_sand/code/datums/interactions/_interaction.dm
Labels: Code

#2251 [BLUEMOON] Festive fix 3
  _maps/map_files/FestiveBall/FestiveStation.dmm
  modular_citadel/code/modules/vectorcrafts/vectorcraft.dm
Labels: Map Edit, Code

#2245 Небольшая перестройка ДС-2 и перевод глорикилла мобов.
  _maps/RandomRuins/SpaceRuins/BlueMoon/space_syndicate_base.dmm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/candy.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/drakeling.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/fanaticminer.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/imp.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/mining_mobs/shamblingminer.dm
Labels: Map Edit, Code

#2250 Полировка обновления реакторок + обновление радиации
  code/__HELPERS/radiation.dm
  code/datums/components/radioactive.dm
  code/game/machinery/rechargestation.dm
  code/modules/mod/mod_control.dm
  code/modules/power/cell.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/vehicles/mecha/_mecha.dm
  modular_splurt/code/modules/power/cell.dm
Labels: Code

#2253 Garment_add
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/storage.dm
  code/modules/jobs/job_types/juridical/magistrate.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  modular_splurt/code/modules/clothing/under/jobs/centcom.dm
  modular_splurt/icons/mob/clothing/centcom.dmi
  modular_splurt/icons/obj/clothing/centcom.dmi
  tgstation.dme
Labels: Sprites, DME Edit, Code

#2254 [BLUEMOON] Смена кнопок для операционного стола
  code/game/objects/structures/tables_racks.dm
Labels: Code

#2259 Обновление сейфа СБ. ГСБ знает от него код.
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/security_level.dm
  code/datums/ert.dm
  modular_bluemoon/code/game/objects/structures/safe.dm
  modular_splurt/code/modules/jobs/job_types/head_of_security.dm
  tgui/packages/tgui/interfaces/Safe.js
Labels: Javascript, TGUI, Code

#2260 Фикс спрятанного чазма в гейте
  _maps/RandomZLevels/away_mission/ihategordon.dmm
Labels: Map Edit

#2261 plushie_request
  modular_bluemoon/code/game/objects/items/plushes.dm
  modular_bluemoon/icons/mob/inhands/items/plushes_lefthand.dmi
  modular_bluemoon/icons/mob/inhands/items/plushes_righthand.dmi
  modular_bluemoon/icons/obj/toys/plushes.dmi
Labels: Sprites, Code

#2265 Кейс с пилюлями для психолога
  code/game/objects/items/storage/briefcase.dm
  code/modules/jobs/job_types/medbay/psychologist.dm
Labels: Code

#2266 Hud Update
  code/__DEFINES/rendering/atom_hud.dm
  code/modules/jobs/access.dm
  code/modules/mob/dead/observer/orbit.dm
  icons/mob/hud.dmi
  icons/ui_icons/tgui/jobs.dmi
Labels: Sprites, Code

#2267 Починил потерянный мапером тайл, положил гардероб кэпа
  _maps/RandomZLevels/away_mission/spacebattle.dmm
Labels: Map Edit

#2257 [BLUEMOON] Station goals update
  _maps/archive/IceTaxi/Smexistation/bluemoonsmexistation.json
  _maps/archive/IceTaxi/Smexistation/smexistation.json
  _maps/icemoonstation.json
  code/modules/admin/verbs/randomverbs.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/shield.dm
  code/modules/station_goals/station_goal.dm
  modular_bluemoon/code/modules/station_goals/bfl.dm
Labels: Map Edit, Administration, Code

#2269 Иконки орбита. Полировка
  code/modules/mob/dead/observer/orbit.dm
  icons/mob/hud.dmi
  icons/ui_icons/tgui/jobs.dmi
Labels: Sprites, Code

#2274 bowman headset_NTR
  code/game/objects/items/devices/radio/headset.dm
  code/modules/jobs/job_types/juridical/magistrate.dm
  modular_splurt/code/modules/vending/security.dm
Labels: Code

#2278 Микро-хотфиксы: челюсти РнД + HUD ОМ
  icons/mob/hud.dmi
  modular_bluemoon/code/game/objects/items/tools/crowbar.dm
  modular_bluemoon/icons/mob/inhands/equipment/tools_righthand.dmi
Labels: Sprites, Code

#2279 Add: Ckey whitelisted item
  modular_bluemoon/fluffs/code/donator.dm
  modular_bluemoon/fluffs/code/under.dm
  modular_bluemoon/fluffs/icons/mob/clothing/under.dmi
  modular_bluemoon/fluffs/icons/obj/clothing/under.dmi
Labels: Sprites, Code

#2280 HUD + айди для DS-2 и отеля | Иконки ghost orbit дронам, свармерам
  _maps/map_files/Mining/Lavaland.dmm
  code/__DEFINES/rendering/atom_hud.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/blob/blob/powers.dm
  code/modules/jobs/access.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/mob/hud.dmi
  icons/obj/card.dmi
  icons/ui_icons/tgui/jobs.dmi
  modular_bluemoon/code/game/objects/items/cards_ids.dm
  modular_bluemoon/kovac_shitcode/code/modules/clothing/misc.dm
  modular_sand/code/game/objects/items/cards_ids.dm
  modular_splurt/code/game/objects/items/cards_ids.dm
  modular_splurt/code/game/objects/structures/ghost_role_spawners.dm
Labels: Sprites, Map Edit, Code
